/* Виды кнопок*/
BUTTON,
A,
INPUT[type="submit"] {
    &.btn {
        display: block;
        overflow: hidden;
        padding: 0;
        font-size: inherit;
        cursor: pointer;
        background-color: #c5c6c6;
        color: white;
        border: 0;
        border-radius: 0;
        border-bottom: 3px solid #b3b3b3;
        white-space: nowrap;

        &:hover {
            background-color: #aaa;
            border-bottom: 3px solid #8A8A8A;
        }

        &.btn_middle {
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &.biz {
            background-color: #019ee1;
            color: white;
            border-bottom: 3px solid #3782BF;

            &:hover {
                background-color: #0D86B9;
                border-bottom: 3px solid #2970A9;
            }
        }

        &.money  {
            background-color: #61b239;
            color: white;
            border-bottom: 3px solid #559735;

            &:hover {
                background-color: #589A39;
                border-bottom: 3px solid #48802E;
            }
        }
    }
}

BUTTON {
    &.btn {
        &.btn_middle {
            line-height: 40px;
        }
    }

    &.clear {
        overflow: hidden;
        font-size: inherit;
        border: 0 solid transparent;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
    }
}

A {
    &.btn {
        &.btn_middle {
            line-height: 44px;
        }
    }
}