@import "variables.scss";

.header {
    $headerHeight: 45px;

    display: flex;
    justify-content: center;

    height: $headerHeight;
    box-shadow: 0 0 6px 1px rgba(90, 90, 90, 0.33);
    background-color: white;

    > .center {
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;

            line-height: $headerHeight;

            > A {
                font-size: 16px;
                color: gray;
                height: $headerHeight;
                box-sizing: border-box;

                + A {
                    margin-left: 70px;
                }

                $blue: #0189ff;
                &:hover {
                    color: $blue;
                }

                &.active {
                    color: $blue;
                    border-bottom: 3px solid $blue;
                }
            }
        }

        .rightBlock {
            display: flex;
            justify-content: flex-end;

            > DIV {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }

            BUTTON {
                width: 75px;
                height: 32px;
                line-height: 30px;
            }
        }
    }
}

/*.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding-left: 18px;
    padding-right: 18px;
    height: 82px;
    box-shadow: 0 0 6px 1px rgba(90, 90, 90, 0.33);
    background-color: white;

    > DIV {
        display: flex;
        align-items: center;

        &.leftBlock {
            .logo {
                width: 115px;
                height: 44px;
                background-image: url($imgPath + '/rosnok_logo.png');
                cursor: pointer;
            }

            .sandwich {
                width: 44px;
                height: 44px;
                line-height: 44px;
                font-size: 42px;
                color: $blue;
                text-align: center;

                margin-right: 18px;
            }

            .main_menu {
                display: flex;
                justify-content: flex-start;
                margin-left: 15px;
                font-size: 18px;

                > A {
                    margin-left: 30px;
                    color: gray;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        &.rightBlock {
            display: flex;
            justify-content: flex-end;

            > DIV {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}*/