@import "variables";

[class*='icon_'] {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;

    &.pointer {
        cursor: pointer;
    }
}

.icon_auth_vk {
    width: 80px;
    height: 80px;
    background-image: url($iconsPath + "/auth_vk.png");
}

.icon_auth_pass {
    width: 80px;
    height: 80px;
    background-image: url($iconsPath + "/auth_pass.png");
}

.icon_glaz_blue {
    width: 15px;
    height: 15px;
    background-image: url($iconsPath + "/glaz_icon.png");
}

.icon_info_blue {
    width: 15px;
    height: 15px;
    background-image: url($iconsPath + "/info_icon.png");
}

.icon_pencil {
    width: 20px;
    height: 20px;
    background-image: url($iconsPath + "/pencil.png");
}