@import "variables.scss";

.page {
    min-width: 1200px;
    height: 100%;
}

.cabinet {
    > .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;

        background-color: #4B515C;

        $user_bar_overlay_z_index: 20;
        .user_bar_overlay {
            display: none;
            position: fixed;
            left: 80px;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
            text-align: center;
            z-index: $user_bar_overlay_z_index;
        }

        > .top,
        > .menu {
            width: 80px;
            font-size: 12px;
            color: #9da8ae;
            position: relative;
            z-index: $user_bar_overlay_z_index + 1;
        }

        > .top {
            height: 100px;
            padding-top: 25px;
            box-sizing: border-box;
            position: relative;
            background-color: #3F454F;

            .icon_wrapper {
                width: 100%;
                height: 100%;
                cursor: pointer;

                > .icon {
                    background-image: url($iconsPath + "/cabinet_menu/logo.png");
                    width: 50px;
                    height: 50px;
                    margin: auto;
                }
            }

            > .user_bar {
                position: absolute;
                top: 0;
                left: 80px;
                height: 100px;
                background-color: #3F454F;

                display: none;
                justify-content: flex-start;

                .user_info {
                    box-sizing: border-box;
                    padding: 5px;

                    .name {
                        margin-top: 30px;
                        height: 30px;
                        font-size: 18px;
                        line-height: 20px;
                        color: white;
                        min-width: 250px;
                    }

                    .role {
                        height: 30px;
                        line-height: 30px;
                        font-size: 15px;

                        display: flex;
                        justify-content: flex-start;

                        .role_wrapper {
                            position: relative;

                            .current_role {
                                cursor: pointer;

                                .icon {
                                    margin-left: 5px;
                                }
                            }

                            #role_list {
                                display: none;
                                position: absolute;
                                top: 0;
                                left: 0;
                                min-width: 225px;

                                > DIV {
                                    padding: 0 10px;
                                    background-color: #262E3B;
                                    line-height: 30px;
                                    font-size: 15px;
                                    color: #B2B3B3;
                                    cursor: pointer;
                                }
                            }

                            + DIV {
                                margin-left: 15px;
                            }
                        }
                    }
                }

                .link {
                    width: 72px;
                    height: 100%;
                    color: #B2B3B3;

                    &.profile {
                        background-color: #4F5661;

                        > SPAN {
                            background-image: url($iconsPath + "/cabinet_menu/profile_edit.png");
                        }
                    }

                    &.exit {
                        > SPAN {
                            background-image: url($iconsPath + "/cabinet_menu/auth_exit.png");
                        }
                    }

                    > SPAN {
                        display: block;
                        margin: 0 auto;
                        margin-top: 35px;
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    > DIV {
                        margin-top: 15px;
                        font-size: 15px;
                        text-align: center;
                    }
                }

            }
        }

        > .menu {
            border-top: 1px solid #29303B;

            .level1 {
                min-height: 80px;
                margin-top: 5px;

                > A {
                    width: 100%;
                    display: block;
                    color: inherit;
                    padding: 6px;
                    box-sizing: border-box;

                    &:hover {
                        color: white;
                    }

                    > .icon {
                        width: 50px;
                        height: 50px;

                        margin: 0 auto;

                        + .title {
                            margin-top: 5px;
                        }

                        background-image: url($iconsPath + "/cabinet_menu/desktop.png");
                        background-repeat: no-repeat;

                        &.desktop {
                            background-image: url($iconsPath + "/cabinet_menu/desktop.png");
                        }

                        &.passport {
                            background-image: url($iconsPath + "/cabinet_menu/passport.png");
                        }

                        &.clients {
                            background-image: url($iconsPath + "/cabinet_menu/clients.png");
                        }
                    }

                    > .title {
                        text-align: center;
                        font-size: 12px;
                        line-height: 13px;
                    }
                }

                &.active {
                    > A {
                        > .icon {
                            background-image: url($iconsPath + "/cabinet_menu/desktop_active.png");

                            &.desktop {
                                background-image: url($iconsPath + "/cabinet_menu/desktop_active.png");
                            }

                            &.passport {
                                background-image: url($iconsPath + "/cabinet_menu/passport_active.png");
                            }

                            &.clients {
                                background-image: url($iconsPath + "/cabinet_menu/clients_active.png");
                            }
                        }
                    }
                }
            }
        }
    }

    > .content_wrapper {
        position: absolute;
        top: 0;
        left: 80px;

        width: calc(100% - 80px);
        min-width: 1120px;
        min-height: 100%;

        background-color: #F5F5F5;

        > .title {
            height: 100px;
            font-size: 24px;
            padding-left: 30px;
            border-bottom: 1px solid #D9DADA;
            display: flex;
            align-items: center;
            font-weight: bold;
        }

        > .content {
            padding: 15px 25px;
        }
    }
}

.TODO {
    opacity: 0.6;
    border: 1px solid #F2BCFF !important;
    color: #F2BCFF !important;
    background-color: #FFF5F6 !important;
}

.row {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &.big {
        margin-bottom: 20px;
    }

    &.horizontal {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    > .column {
        + .column {
            margin-left: 10px;
        }
    }
}
.hide {
    display: none !important;
}

A.maximumLink {
    display: block;
    height: 100%;
    width: 100%;
}

.menu_horizontal {
    display: flex;
    line-height: 40px;

    > A {
        height: 40px;
        color: inherit;

        &:focus {
            outline: none !important;
        }

        &.active {
            border-bottom: 2px solid $blue;
        }

        + A {
            margin-left: 15px;
        }
    }
}

// костыль от jquery.mask
.fixInputMask {
    font-family: 'Arial';
}