@mixin transform($param) {
    -webkit-transform: $param;
    -moz-transform: $param;
    -ms-transform: $param;
    -o-transform: $param;
    transform: $param;
}

@mixin transition($param) {
    -webkit-transition: $param;
    -moz-transition: $param;
    -o-transition: $param;
    transition: $param;
}

@mixin box-shadow($param) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

@mixin border-radius($param) {
    -webkit-border-radius: $param;
    -moz-border-radius: $param;
    border-radius: $param;
}

@mixin webPrefix($paramName, $param) {
    -webkit-#{$paramName}: $param;
    -moz-#{$paramName}: $param;
    -ms-#{$paramName}: $param;
    -o-#{$paramName}: $param;
    #{$paramName}: $param;
}