@import "variables.scss";

.modal_overlay {
	display: none;
	position: fixed;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(255, 255, 255, 0.6);
  	text-align: center;
	z-index: 40;

	&:after {
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
		content: '';
	}
	
  	.modal_window {
  		z-index: 41;
  		display: inline-block;
		position: relative;
		background: #fff;
		text-align: left;
		vertical-align: middle;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);

		color: #5B5B5B;
		font-size: 18px;
		line-height: 20px;
        width: 625px;

		.modal_header {
			height: 100px;
			line-height: 100px;
			font-size: 25px;
			padding-left: 20px;
			padding-right: 20px;			
		}

		.modal_header,
		.modal_main {
			&.border_biz {
				border-left: 10px solid #00a0e3;
			}

			&.border_money {
				border-left: 10px solid #559734;
			}

			&.border_soul {
				border-left: 10px solid #782974;
			}

			&.border_dangerous {
				border-left: 10px solid #e31e24;
			}

			&.border_orange {
				border-left: 10px solid #FEC000;
			}
		}

		.modal_body {
  			margin: 0 30px 30px 30px;
            font-size: 18px;
		}

		.m_close {
			background: transparent;
			color: #A5A5A5;;
			font-size: 32px;
		  	border: 0;
		  	float: right;
		  	width: 45px;
		  	height: 45px;
		  	line-height: 45px;

		  	&:hover,
			&:focus {
			  	opacity: 0.6;
			}
		}

        .modal_footer {
            display: flex;
            justify-content: flex-start;
            margin-top: 35px;

            DIV,
            BUTTON {
                ~ {
                    DIV,
                    BUTTON {
                        margin-left: 15px;
                    }
                }
            }
        }
  	}
}

#auth_method_modal {
    .auth_method {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        &:hover {
            opacity: 0.95;
            background-color: whitesmoke;
        }

        + DIV {
            margin-top: 25px;
        }

        > A {
            margin-left: 35px;
        }

        > DIV {
            + DIV {
                margin-left: 35px;
            }
        }
    }

    #auth_register {
        margin-top: 30px;
    }
}

#auth_password_modal {
    .block_body {
        + .block_body {
            margin-top: 20px;
        }

        .block_title {
            + DIV {
                margin-top: 7px;
            }
        }

        input {
            &[name='apm_country'],
            &[name='apm_password'] {
                width: 103px;
            }

            &[name='apm_phone'] {
                width: 202px;
            }
        }
    }
}

#password_recovery_modal {
    .block_body1 {
        margin-bottom: 25px;
    }
    .block_body {
        + .block_body {
            margin-top: 12px;
        }

        .block_title {
            + DIV {
                margin-top: 7px;
            }
        }

        select[name='prm_country'] {
            width: 102px;
        }

        input[name='prm_captcha'] {
            width: 150px;
            margin-top: 12px;
        }
    }
}

#auth_register_modal {
    .block_body1 {
        margin-bottom: 25px;
    }
    .block_body {
        + .block_body {
            margin-top: 12px;
        }

        .block_title {
            + DIV {
                margin-top: 7px;
            }
        }

        input {
            &[name='arm_country'] {
                width: 102px;
            }

            &[name='arm_captcha'] {
                width: 150px;
                margin-top: 12px;
            }
        }

        &.sms_warning {
            font-size: 16px;
            color: darkgray;

            + DIV {
                margin-top: 20px;
            }
        }
    }
}

#auth_phone_confirm_modal {
    .block_body1 {
        margin-bottom: 25px;
    }
    .block_body {
        .block_title {
            + DIV {
                margin-top: 7px;
            }
        }
    }
}