@import "variables.scss";

input[type='text'] {
    &.jquery_validate_error {
        border: 1px solid red;
    }

    &.jquery_validate_ok {
        background-image: url($iconsPath + "/galka_green_border.png") !important;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
    }
}

.dataTables_filter {
    margin-bottom: 10px;
}