@import "variables.scss";

@mixin border() {
    border-collapse: collapse !important;
    border-spacing: 0;

    TH, TD {
        border: 2px solid #fafbfa;
    }
}

TABLE {
    TH {
        &.size_middle {
            min-width: 150px;
        }

        &.size_big {
            min-width: 200px;
        }
    }

    TH, TD {
        &.text_center {
            text-align: center;
        }
    }

    TD {
        &.details-control {
            background: url($iconsPath + '/details_open.png') no-repeat center center;
            cursor: pointer;

            width: 10px;
        }

        &.num {
            > DIV {
                text-align: center;
                margin: 0 auto;

                + DIV {
                    margin-top: 4px;
                }
            }
        }
    }

    TR {
        &.shown {
            TD {
                &.details-control {
                    background: url($iconsPath + '/details_close.png') no-repeat center center;
                }
            }
        }
    }

    /* расцветка */
    &.biz,
    &.gray {
        @include border();
    }

    &.biz {
        TR {
            > TH {
                background-color: #00a0e3;
                color: white;
            }

            > TD {
                background: white;
                color: $textGray;
            }
        }
    }

    &.gray {
        TR {
            > TH {
                background: #b2b4b3;
                color: white;
            }

            > TD {
                background-color: white;
                color: $textGray;
            }
        }
    }

    /* границы */
    &.border {
        @include border();
    }
}