.agentClientAdd .steps {
  display: flex;
  margin-bottom: 20px;
  cursor: default; }
  .agentClientAdd .steps > .step {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #dadada;
    border-radius: 3px; }
    .agentClientAdd .steps > .step.active {
      border: 2px solid #019ee1;
      background-color: #f8f8f8; }
    .agentClientAdd .steps > .step + DIV {
      margin-left: 10px; }
.agentClientAdd .stepContainer.stepClientAdd .clientInfoBlock {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #EAEAEA; }
  .agentClientAdd .stepContainer.stepClientAdd .clientInfoBlock .avatarBlock > IMG {
    width: 100px;
    height: 100px; }
  .agentClientAdd .stepContainer.stepClientAdd .clientInfoBlock .avatarBlock + .infoBlock {
    margin-left: 15px; }
  .agentClientAdd .stepContainer.stepClientAdd .clientInfoBlock .infoBlock {
    position: relative; }
    .agentClientAdd .stepContainer.stepClientAdd .clientInfoBlock .infoBlock > BUTTON.madeUserClient {
      position: absolute;
      bottom: 0; }
.agentClientAdd .stepContainer.stepClientAdd .clientSearchBlock > .row.horizontal > DIV:first-child {
  margin-right: 10px; }
.agentClientAdd .stepContainer.stepClientAdd .clientSearchBlock > .row.horizontal > INPUT {
  width: 150px; }
.agentClientAdd .stepContainer.stepClientAdd .clientSearchBlock > .phoneRestrictionsMessage {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  font-size: 15px;
  background-color: #ebedec;
  color: #b3b3b3; }
.agentClientAdd .stepContainer.stepClientAdd .createNewClientBlock .fioBlock {
  display: block; }
  .agentClientAdd .stepContainer.stepClientAdd .createNewClientBlock .fioBlock > .row {
    display: flex; }
    .agentClientAdd .stepContainer.stepClientAdd .createNewClientBlock .fioBlock > .row + .row {
      margin-top: 10px; }
    .agentClientAdd .stepContainer.stepClientAdd .createNewClientBlock .fioBlock > .row > DIV {
      line-height: 40px; }
      .agentClientAdd .stepContainer.stepClientAdd .createNewClientBlock .fioBlock > .row > DIV:first-child {
        width: 90px; }
      .agentClientAdd .stepContainer.stepClientAdd .createNewClientBlock .fioBlock > .row > DIV + DIV {
        min-width: 150px;
        margin-left: 10px; }
.agentClientAdd .stepContainer.stepClientAdd .confirmClientSmsBlock .inputSmsCodeBlock {
  display: flex;
  margin-top: 8px; }
.agentClientAdd .stepContainer.stepClientAdd #confirmClientPhoneModal .row.horizontal INPUT {
  margin-right: 15px; }
.agentClientAdd .stepContainer.stepClientAdd #confirmClientPhoneModal .row a {
  text-decoration: underline; }
.agentClientAdd .stepContainer.stepChoiceRate .choiceServiceLive .choiceBlock,
.agentClientAdd .stepContainer.stepChoiceRate .choiceSocialStatus .choiceBlock {
  margin-top: 8px; }
.agentClientAdd .stepContainer.stepChoiceRate .choiceServiceLive LABEL + LABEL,
.agentClientAdd .stepContainer.stepChoiceRate .choiceSocialStatus LABEL + LABEL {
  margin-left: 10px; }
.agentClientAdd .stepContainer.stepChoiceRate #confirmAutoRateModal .rateBlock {
  display: flex;
  justify-content: center; }
  .agentClientAdd .stepContainer.stepChoiceRate #confirmAutoRateModal .rateBlock > DIV {
    border: 2px solid #019ee1;
    padding: 10px 20px;
    font-size: 24px; }
.agentClientAdd .stepContainer.stepChoiceRate #choiceRateModal .row.rates {
  display: flex;
  justify-content: flex-start; }
  .agentClientAdd .stepContainer.stepChoiceRate #choiceRateModal .row.rates > LABEL {
    width: 255px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 24px; }
    .agentClientAdd .stepContainer.stepChoiceRate #choiceRateModal .row.rates > LABEL SPAN {
      padding: 5px 10px;
      padding-left: 2px;
      margin-left: 3px; }
    .agentClientAdd .stepContainer.stepChoiceRate #choiceRateModal .row.rates > LABEL.active SPAN {
      outline: 2px solid #019ee1; }
    .agentClientAdd .stepContainer.stepChoiceRate #choiceRateModal .row.rates > LABEL + LABEL {
      margin-left: 10px; }
.agentClientAdd .stepContainer.stepChoiceOffice .officesContainer + DIV {
  margin-top: 10px; }
.agentClientAdd .stepContainer.stepChoiceOffice .officesContainer .officeBlock {
  display: flex;
  width: 500px;
  height: 80px;
  border: 1px solid gray;
  padding: 10px;
  background-color: white; }
  .agentClientAdd .stepContainer.stepChoiceOffice .officesContainer .officeBlock + .officeBlock {
    margin-top: 10px; }
  .agentClientAdd .stepContainer.stepChoiceOffice .officesContainer .officeBlock .avatar IMG {
    width: 50px;
    height: 50px; }
  .agentClientAdd .stepContainer.stepChoiceOffice .officesContainer .officeBlock .avatar + .info {
    margin-left: 10px; }
  .agentClientAdd .stepContainer.stepChoiceOffice .officesContainer .officeBlock .info {
    position: relative;
    width: 100%; }
    .agentClientAdd .stepContainer.stepChoiceOffice .officesContainer .officeBlock .info BUTTON {
      position: absolute;
      right: 0;
      top: 0; }
.agentClientAdd .stepContainer.stepFillPassport .goNextStepBlock {
  margin-top: 10px; }

.agentInboxDocs .docAddBlock {
  display: none; }
  .agentInboxDocs .docAddBlock > .title {
    font-size: 30px;
    margin-top: 10px; }
    .agentInboxDocs .docAddBlock > .title + DIV {
      margin-top: 10px; }
  .agentInboxDocs .docAddBlock > DIV + DIV {
    margin-top: 10px; }
  .agentInboxDocs .docAddBlock > DIV SELECT[name='myClients'] {
    min-width: 250px; }
  .agentInboxDocs .docAddBlock > DIV TEXTAREA[name='notation'] {
    width: 100%;
    height: 100px; }
  .agentInboxDocs .docAddBlock .buttons {
    display: flex; }
    .agentInboxDocs .docAddBlock .buttons > BUTTON + BUTTON {
      margin-left: 5px; }

.agent_client_list {
  margin-top: 6px; }
  .agent_client_list > .client_block {
    position: relative;
    padding: 20px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #F5F5F5; }
    .agent_client_list > .client_block.red {
      border-left: 5px solid #E31E24; }
    .agent_client_list > .client_block.yellow {
      border-left: 5px solid #FECC00; }
    .agent_client_list > .client_block .avatar IMG {
      width: 80px;
      height: 80px; }
    .agent_client_list > .client_block .avatar + .info {
      margin-left: 12px; }
    .agent_client_list > .client_block .info > DIV {
      display: flex; }
      .agent_client_list > .client_block .info > DIV > DIV + DIV {
        margin-left: 15px; }
      .agent_client_list > .client_block .info > DIV:first-child {
        margin-bottom: 15px; }
    .agent_client_list > .client_block .buy_btn {
      position: absolute;
      right: 20px;
      bottom: 20px; }
      .agent_client_list > .client_block .buy_btn > DIV {
        font-size: 14px;
        margin-bottom: 5px; }
      .agent_client_list > .client_block .buy_btn BUTTON {
        float: right; }

.agentDocsFromClients {
  margin-top: 10px;
  min-width: 1120px; }
  .agentDocsFromClients TABLE#agentDocsFromClients {
    padding-top: 10px;
    border: none;
    width: 100%; }
    .agentDocsFromClients TABLE#agentDocsFromClients TD.phone > DIV {
      text-align: center;
      margin: 0 auto; }
      .agentDocsFromClients TABLE#agentDocsFromClients TD.phone > DIV:nth-child(2) {
        margin-top: 10px; }
        .agentDocsFromClients TABLE#agentDocsFromClients TD.phone > DIV:nth-child(2) > BUTTON {
          margin: 0 auto; }

.agentDocsFromClientsAdd > DIV {
  margin-top: 10px; }
  .agentDocsFromClientsAdd > DIV:first-child {
    margin-top: 0; }

/*# sourceMappingURL=agent.css.map */
