.articles_container .center_container {
  width: 1000px;
  margin: 0 auto; }
.articles_container > .title {
  height: 100px;
  line-height: 100px;
  font-size: 38px;
  font-weight: bold;
  border-bottom: 1px solid #f3f3f3; }
  .articles_container > .title A {
    color: #5B5B5B; }
.articles_container .article_list .article_element {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3; }
  .articles_container .article_list .article_element .content {
    padding: 20px 0;
    display: flex; }
    .articles_container .article_list .article_element .content .img {
      margin-right: 25px; }
      .articles_container .article_list .article_element .content .img IMG {
        width: 250px;
        border: 1px solid #f3f3f3; }
    .articles_container .article_list .article_element .content .text_block {
      position: relative;
      width: 100%; }
      .articles_container .article_list .article_element .content .text_block .title {
        font-size: 38px;
        font-weight: bold;
        line-height: 40px; }
        .articles_container .article_list .article_element .content .text_block .title + .text {
          margin-top: 15px; }
      .articles_container .article_list .article_element .content .text_block .text {
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 140px; }
      .articles_container .article_list .article_element .content .text_block .link {
        margin-top: 10px; }
.articles_container .article_block {
  padding: 20px 0; }
  .articles_container .article_block .content {
    padding: 20px 0; }
    .articles_container .article_block .content .img {
      float: left;
      border: 1px solid #f3f3f3;
      margin-right: 25px;
      z-index: 2;
      position: relative; }
      .articles_container .article_block .content .img IMG {
        min-width: 400px;
        max-width: 450px; }
    .articles_container .article_block .content .text_block {
      position: relative;
      z-index: 1; }
      .articles_container .article_block .content .text_block .title {
        font-size: 38px;
        font-weight: bold;
        line-height: 38px; }
        .articles_container .article_block .content .text_block .title + .text {
          margin-top: 15px; }

.adminMainArticles .articlesList .articleBlock {
  padding: 10px;
  background-color: white; }
  .adminMainArticles .articlesList .articleBlock + .articleBlock {
    margin-top: 10px; }
  .adminMainArticles .articlesList .articleBlock .row {
    display: flex;
    line-height: 20px; }
    .adminMainArticles .articlesList .articleBlock .row > DIV:first-child {
      width: 100px;
      min-width: 100px; }
    .adminMainArticles .articlesList .articleBlock .row > DIV + DIV {
      margin-left: 10px; }
    .adminMainArticles .articlesList .articleBlock .row + .row,
    .adminMainArticles .articlesList .articleBlock .row + .buttons {
      margin-top: 10px; }
    .adminMainArticles .articlesList .articleBlock .row.small {
      height: 100px;
      overflow-y: scroll; }
    .adminMainArticles .articlesList .articleBlock .row IMG {
      width: 100px;
      border: 1px solid lightgray; }
  .adminMainArticles .articlesList .articleBlock .buttons {
    display: flex; }
    .adminMainArticles .articlesList .articleBlock .buttons BUTTON + BUTTON {
      margin-left: 5px; }
.adminMainArticles .editArticleBlock + .articleBlock {
  margin-top: 10px; }
.adminMainArticles .createArticleBlock,
.adminMainArticles .editArticleBlock {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px; }
  .adminMainArticles .createArticleBlock .row,
  .adminMainArticles .editArticleBlock .row {
    display: flex;
    line-height: 40px; }
    .adminMainArticles .createArticleBlock .row.full > DIV:nth-child(2),
    .adminMainArticles .editArticleBlock .row.full > DIV:nth-child(2) {
      width: 100%; }
      .adminMainArticles .createArticleBlock .row.full > DIV:nth-child(2) INPUT,
      .adminMainArticles .createArticleBlock .row.full > DIV:nth-child(2) TEXTAREA,
      .adminMainArticles .editArticleBlock .row.full > DIV:nth-child(2) INPUT,
      .adminMainArticles .editArticleBlock .row.full > DIV:nth-child(2) TEXTAREA {
        width: 100%; }
      .adminMainArticles .createArticleBlock .row.full > DIV:nth-child(2) TEXTAREA,
      .adminMainArticles .editArticleBlock .row.full > DIV:nth-child(2) TEXTAREA {
        height: 300px;
        resize: vertical; }
    .adminMainArticles .createArticleBlock .row > DIV:first-child,
    .adminMainArticles .editArticleBlock .row > DIV:first-child {
      width: 100px; }
    .adminMainArticles .createArticleBlock .row > DIV + DIV,
    .adminMainArticles .editArticleBlock .row > DIV + DIV {
      margin-left: 10px; }
    .adminMainArticles .createArticleBlock .row + .row,
    .adminMainArticles .createArticleBlock .row + .buttons,
    .adminMainArticles .editArticleBlock .row + .row,
    .adminMainArticles .editArticleBlock .row + .buttons {
      margin-top: 10px; }
    .adminMainArticles .createArticleBlock .row.radio LABEL,
    .adminMainArticles .editArticleBlock .row.radio LABEL {
      display: block; }
      .adminMainArticles .createArticleBlock .row.radio LABEL INPUT,
      .adminMainArticles .editArticleBlock .row.radio LABEL INPUT {
        margin-right: 10px; }
  .adminMainArticles .createArticleBlock .buttons,
  .adminMainArticles .editArticleBlock .buttons {
    display: flex; }
    .adminMainArticles .createArticleBlock .buttons BUTTON + BUTTON,
    .adminMainArticles .editArticleBlock .buttons BUTTON + BUTTON {
      margin-left: 5px; }

/*# sourceMappingURL=articles.css.map */
