.clientMain {
  position: relative; }
  .clientMain > DIV + DIV {
    margin-top: 10px; }
  .clientMain .clientNameBlock {
    font-size: 18px; }
  .clientMain .clientInfoBlock {
    display: flex; }
    .clientMain .clientInfoBlock .avatar IMG {
      width: 90px;
      height: 90px; }
    .clientMain .clientInfoBlock .avatar + .info {
      margin-left: 15px; }
    .clientMain .clientInfoBlock TABLE.info {
      font-size: 16px; }
      .clientMain .clientInfoBlock TABLE.info TR:first-child > TD {
        padding-top: -2px; }
      .clientMain .clientInfoBlock TABLE.info TD {
        padding: 1px 10px; }
  .clientMain .mainDocsBlock {
    position: absolute;
    top: 0;
    left: 850px; }

.clientCredits INPUT[type='checkbox'] {
  margin-right: 15px; }
.clientCredits .consumerAddForm {
  display: none; }
  .clientCredits .consumerAddForm .title {
    font-size: 22px; }
  .clientCredits .consumerAddForm INPUT.bank_name {
    width: 100%; }
  .clientCredits .consumerAddForm INPUT.contract_number, .clientCredits .consumerAddForm INPUT.date_contract, .clientCredits .consumerAddForm INPUT.credit_sum, .clientCredits .consumerAddForm INPUT.account_number, .clientCredits .consumerAddForm INPUT.last_pay_sum, .clientCredits .consumerAddForm INPUT.date_last_pay, .clientCredits .consumerAddForm INPUT.date_credit_end, .clientCredits .consumerAddForm INPUT.average_monthly_pay {
    width: 240px; }
  .clientCredits .consumerAddForm SELECT.credit_commitments_name {
    width: 100%; }
  .clientCredits .consumerAddForm TEXTAREA.notation {
    width: 100%;
    height: 100px; }
  .clientCredits .consumerAddForm .row {
    margin-bottom: 10px; }
  .clientCredits .consumerAddForm .block1 {
    display: flex;
    justify-content: space-between; }
  .clientCredits .consumerAddForm .buttonsBlock {
    display: flex; }
    .clientCredits .consumerAddForm .buttonsBlock BUTTON {
      margin-left: 10px; }
  .clientCredits .consumerAddForm .tasksContainer LABEL {
    display: block; }
    .clientCredits .consumerAddForm .tasksContainer LABEL + LABEL {
      margin-top: 5px; }
.clientCredits .cardAddForm {
  display: none; }
  .clientCredits .cardAddForm .title {
    font-size: 22px; }
  .clientCredits .cardAddForm INPUT.bank_name {
    width: 100%; }
  .clientCredits .cardAddForm INPUT.card_number, .clientCredits .cardAddForm INPUT.contract_number, .clientCredits .cardAddForm INPUT.date_contract, .clientCredits .cardAddForm INPUT.credit_sum, .clientCredits .cardAddForm INPUT.account_number, .clientCredits .cardAddForm INPUT.last_pay_sum, .clientCredits .cardAddForm INPUT.date_last_pay, .clientCredits .cardAddForm INPUT.date_credit_end, .clientCredits .cardAddForm INPUT.average_monthly_pay {
    width: 240px; }
  .clientCredits .cardAddForm SELECT.credit_commitments_name {
    width: 100%; }
  .clientCredits .cardAddForm TEXTAREA.notation {
    width: 100%;
    height: 100px; }
  .clientCredits .cardAddForm .row {
    margin-bottom: 10px; }
  .clientCredits .cardAddForm .block1 {
    display: flex;
    justify-content: space-between; }
  .clientCredits .cardAddForm .block2 {
    display: flex;
    justify-content: flex-start; }
    .clientCredits .cardAddForm .block2 > DIV + DIV {
      margin-left: 40px; }
  .clientCredits .cardAddForm .buttonsBlock {
    display: flex; }
    .clientCredits .cardAddForm .buttonsBlock BUTTON {
      margin-left: 10px; }
  .clientCredits .cardAddForm .tasksContainer LABEL {
    display: block; }
    .clientCredits .cardAddForm .tasksContainer LABEL + LABEL {
      margin-top: 5px; }

.credit-block {
  width: 1120px; }
  .credit-block .credit-info {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px; }
    .credit-block .credit-info th {
      color: #fff;
      background-color: #00a0e3;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
    .credit-block .credit-info td {
      padding: 10px;
      border: 1px solid #d9dada; }
    .credit-block .credit-info .unknown {
      color: red;
      text-transform: uppercase; }
  .credit-block .row {
    margin-bottom: 10px; }
  .credit-block .flex {
    display: flex;
    justify-content: space-between; }
  .credit-block .full_width {
    width: 100% !important; }
  .credit-block .credit-form h3 {
    margin-bottom: 10px; }
  .credit-block .credit-form input[type="checkbox"] {
    margin-right: 15px; }
  .credit-block .credit-form input[type="text"] {
    width: 240px; }
  .credit-block .credit-form .credit-task label {
    display: block; }
  .credit-block .credit-form .credit-task label + label {
    margin-top: 5px; }
  .credit-block .credit-form .notation {
    width: 100%;
    height: 100px; }
  .credit-block .btn-block {
    display: flex;
    margin-top: 10px; }
    .credit-block .btn-block input[type="submit"] + button {
      margin-left: 10px; }

/*# sourceMappingURL=client.css.map */
