.lawyerClientList {
  margin-top: 6px; }
  .lawyerClientList > .clientBlock {
    position: relative;
    padding: 20px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #F5F5F5; }
    .lawyerClientList > .clientBlock.red {
      border-left: 5px solid #E31E24; }
    .lawyerClientList > .clientBlock.yellow {
      border-left: 5px solid #FECC00; }
    .lawyerClientList > .clientBlock .avatar IMG {
      width: 80px;
      height: 80px; }
    .lawyerClientList > .clientBlock .avatar + .info {
      margin-left: 12px; }
    .lawyerClientList > .clientBlock .info > DIV {
      display: flex; }
      .lawyerClientList > .clientBlock .info > DIV > DIV + DIV {
        margin-left: 15px; }
      .lawyerClientList > .clientBlock .info > DIV:first-child {
        margin-bottom: 15px; }
    .lawyerClientList > .clientBlock .buyBtn {
      position: absolute;
      right: 20px;
      bottom: 20px; }
      .lawyerClientList > .clientBlock .buyBtn > DIV {
        font-size: 14px;
        margin-bottom: 5px; }
      .lawyerClientList > .clientBlock .buyBtn BUTTON {
        float: right; }

.lawyerSentDocsAddContainer .docBlock {
  display: flex; }
  .lawyerSentDocsAddContainer .docBlock > DIV + DIV {
    margin-left: 10px; }
  .lawyerSentDocsAddContainer .docBlock > DIV.clientSearchBlock {
    width: 500px; }
    .lawyerSentDocsAddContainer .docBlock > DIV.clientSearchBlock INPUT[type='text'] {
      width: 100%; }
    .lawyerSentDocsAddContainer .docBlock > DIV.clientSearchBlock > DIV + DIV {
      margin-top: 10px; }
  .lawyerSentDocsAddContainer .docBlock > DIV.notationBlock {
    width: 100%; }
    .lawyerSentDocsAddContainer .docBlock > DIV.notationBlock TEXTAREA {
      width: 100%;
      height: 200px; }
  .lawyerSentDocsAddContainer .docBlock + .buttons {
    margin-top: 10px; }

#lawyerInboxDocs {
  padding-top: 10px;
  border: none;
  width: 100%; }

/*# sourceMappingURL=lawyer.css.map */
