.main_landing INPUT {
  font-family: 'Arial'; }
.main_landing .block1 {
  display: flex;
  justify-content: center; }
  .main_landing .block1 .content {
    height: 540px;
    width: 1000px;
    position: relative; }
    .main_landing .block1 .content .logo {
      position: absolute;
      top: 57px;
      height: 139px;
      width: 411px;
      background-image: url("/thema/img/main_landing/rosnok_logo.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .main_landing .block1 .content .text1 {
      position: absolute;
      top: 230px;
      left: 243px;
      font-size: 39px;
      line-height: 45px;
      font-weight: bold; }
.main_landing .block2 {
  display: flex;
  justify-content: center;
  background-image: url("/thema/img/main_landing/back.svg");
  background-repeat: no-repeat;
  background-size: cover; }
  .main_landing .block2 .content {
    height: 540px;
    width: 1000px;
    position: relative; }
    .main_landing .block2 .content .video {
      margin: 0 auto;
      margin-top: 65px;
      width: 696px;
      height: 358px;
      background: transparent url("/thema/img/main_landing/notebook.png") center top no-repeat; }
      .main_landing .block2 .content .video IFRAME {
        display: flex;
        margin: 0 auto;
        padding-top: 27px;
        width: 448px;
        height: 282px; }
    .main_landing .block2 .content .text_see_video {
      color: white;
      text-align: center;
      margin-top: 45px; }
.main_landing .block3 {
  display: flex;
  justify-content: center;
  height: 540px; }
  .main_landing .block3 .content {
    width: 1000px;
    display: flex;
    align-items: center; }
    .main_landing .block3 .content .clock {
      position: relative;
      width: 466px;
      height: 360px; }
      .main_landing .block3 .content .clock .seconds > div, .main_landing .block3 .content .clock .closerRed {
        background-color: #da2127; }
      .main_landing .block3 .content .clock .backImg, .main_landing .block3 .content .clock .seconds, .main_landing .block3 .content .clock .closerRed, .main_landing .block3 .content .clock .closerWhite {
        position: absolute;
        left: 50%;
        top: 50%; }
      .main_landing .block3 .content .clock .backImg {
        width: 466px;
        height: 360px;
        -webkit-transform: translate(-50%, -49%);
        -moz-transform: translate(-50%, -49%);
        -ms-transform: translate(-50%, -49%);
        -o-transform: translate(-50%, -49%);
        transform: translate(-50%, -49%);
        background: transparent url("/thema/img/main_landing/clock.jpg") center no-repeat; }
      .main_landing .block3 .content .clock .seconds {
        -webkit-animation-name: clock;
        -moz-animation-name: clock;
        -ms-animation-name: clock;
        -o-animation-name: clock;
        animation-name: clock;
        -webkit-animation-duration: 60s;
        -moz-animation-duration: 60s;
        -ms-animation-duration: 60s;
        -o-animation-duration: 60s;
        animation-duration: 60s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps(60);
        -moz-animation-timing-function: steps(60);
        -ms-animation-timing-function: steps(60);
        -o-animation-timing-function: steps(60);
        animation-timing-function: steps(60); }
        .main_landing .block3 .content .clock .seconds > div {
          position: absolute;
          width: 2px;
          height: 113px;
          -webkit-transform: translate(-50%, -79px);
          -moz-transform: translate(-50%, -79px);
          -ms-transform: translate(-50%, -79px);
          -o-transform: translate(-50%, -79px);
          transform: translate(-50%, -79px); }
@keyframes clock {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
      .main_landing .block3 .content .clock .closerRed {
        width: 9px;
        height: 9px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%; }
      .main_landing .block3 .content .clock .closerWhite {
        width: 5px;
        height: 5px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: white; }
    .main_landing .block3 .content .text {
      margin-left: 18px; }
      .main_landing .block3 .content .text .bold {
        font-size: 39px;
        line-height: 45px;
        font-weight: bold; }
        .main_landing .block3 .content .text .bold + .normal {
          margin-top: 20px; }
.main_landing .block4 {
  display: flex;
  justify-content: center;
  background-color: #ececed; }
  .main_landing .block4.image_mod {
    background-image: url("/thema/img/main_landing/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white; }
    .main_landing .block4.image_mod input {
      color: #5b5b5b; }
  .main_landing .block4 .content {
    position: relative;
    width: 1000px;
    height: 540px;
    display: flex;
    align-items: center; }
    .main_landing .block4 .content .left {
      width: 500px; }
      .main_landing .block4 .content .left .bold {
        font-size: 38px;
        line-height: 45px;
        font-weight: bold; }
        .main_landing .block4 .content .left .bold + DIV {
          margin-top: 40px; }
    .main_landing .block4 .content .right {
      margin-left: 115px;
      width: 260px; }
      .main_landing .block4 .content .right INPUT,
      .main_landing .block4 .content .right BUTTON {
        width: 100%; }
      .main_landing .block4 .content .right BUTTON {
        font-size: 18px;
        margin-top: 40px; }
      .main_landing .block4 .content .right INPUT {
        height: 35px;
        line-height: 35px; }
      .main_landing .block4 .content .right .input-block > DIV .input-title {
        margin-bottom: 5px; }
      .main_landing .block4 .content .right .input-block > DIV + DIV {
        margin-top: 10px; }
.main_landing .block5 {
  display: flex;
  justify-content: center; }
  .main_landing .block5 > .content {
    width: 1000px;
    padding: 70px 0; }
    .main_landing .block5 > .content .bold {
      font-size: 39px;
      line-height: 45px;
      font-weight: bold; }
    .main_landing .block5 > .content .video_container .title1 + DIV {
      margin-top: 30px; }
    .main_landing .block5 > .content .video_container .video_list {
      margin-top: 30px; }
      .main_landing .block5 > .content .video_container .video_list + DIV {
        margin-top: 30px; }
      .main_landing .block5 > .content .video_container .video_list .video_block {
        display: inline-block;
        margin-right: 19px;
        margin-top: 20px; }
        .main_landing .block5 > .content .video_container .video_list .video_block > img.video_default_pic {
          display: block;
          cursor: pointer;
          width: 177px;
          height: 99px;
          background-image: url("/thema/img/main_landing/video_default.jpg");
          background-size: contain; }
        .main_landing .block5 > .content .video_container .video_list .video_block IFRAME {
          width: 177px;
          height: 99px;
          display: none; }
        .main_landing .block5 > .content .video_container .video_list .video_block FIGCAPTION {
          max-width: 172px;
          height: 39px;
          text-overflow: ellipsis;
          overflow: hidden; }
          .main_landing .block5 > .content .video_container .video_list .video_block FIGCAPTION > A {
            text-decoration: none;
            color: #676e7f;
            font-size: 16px;
            line-height: 20px; }
            .main_landing .block5 > .content .video_container .video_list .video_block FIGCAPTION > A:hover {
              text-decoration: underline; }
    .main_landing .block5 > .content .video_container + DIV {
      margin-top: 75px; }
    .main_landing .block5 > .content .reasons_container .reasons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 45px; }
      .main_landing .block5 > .content .reasons_container .reasons .block_reason {
        width: 250px;
        min-height: 140px; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason > DIV:first-child {
          width: 75px;
          height: 50px;
          margin-bottom: 13px; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(1) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 0%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(2) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 14.28571%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(3) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 28.57143%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(4) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 42.85714%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(5) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 57.14286%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(6) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 71.42857%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(7) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 85.71429%;
          background-size: 200%; }
        .main_landing .block5 > .content .reasons_container .reasons .block_reason:nth-child(8) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 0 100%;
          background-size: 200%; }
.main_landing .block6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececed;
  height: 540px; }
  .main_landing .block6 .content {
    position: relative;
    width: 1000px; }
    .main_landing .block6 .content .title {
      font-size: 39px;
      line-height: 45px;
      text-align: center;
      font-weight: bold; }
      .main_landing .block6 .content .title + DIV {
        margin-top: 40px; }
    .main_landing .block6 .content .council_container {
      display: flex;
      justify-content: space-between; }
      .main_landing .block6 .content .council_container > .man_block {
        min-width: 300px;
        max-width: 333px; }
        .main_landing .block6 .content .council_container > .man_block .avatar,
        .main_landing .block6 .content .council_container > .man_block .name,
        .main_landing .block6 .content .council_container > .man_block .info {
          text-align: center; }
        .main_landing .block6 .content .council_container > .man_block .avatar IMG {
          width: 142px;
          height: 142px;
          border-radius: 50%;
          background-size: cover;
          display: inline; }
        .main_landing .block6 .content .council_container > .man_block .name {
          font-size: 26px;
          line-height: 26px;
          margin-top: 15px; }
        .main_landing .block6 .content .council_container > .man_block .info {
          font-size: 14px;
          line-height: 16px;
          margin-top: 20px;
          letter-spacing: -0.55px; }
.main_landing .block7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  background-image: url("/thema/img/main_landing/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold; }
  .main_landing .block7 .content {
    position: relative;
    width: 1000px; }
    .main_landing .block7 .content .title {
      font-size: 39px;
      line-height: 45px;
      color: white;
      text-align: center; }
      .main_landing .block7 .content .title + DIV {
        margin-top: 70px; }
    .main_landing .block7 .content .docs {
      display: flex;
      justify-content: space-between; }
.main_landing .block8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px; }
  .main_landing .block8 .content {
    position: relative;
    width: 1000px; }
    .main_landing .block8 .content .title {
      font-size: 39px;
      line-height: 45px;
      font-weight: bold; }
      .main_landing .block8 .content .title + DIV {
        margin-top: 30px; }
    .main_landing .block8 .content .reasons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 45px; }
      .main_landing .block8 .content .reasons .block_reason {
        width: 250px;
        min-height: 140px; }
        .main_landing .block8 .content .reasons .block_reason > DIV:first-child {
          width: 75px;
          height: 50px;
          margin-bottom: 13px; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(1) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 0%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(2) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 14.28571%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(3) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 28.57143%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(4) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 42.85714%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(5) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 57.14286%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(6) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 71.42857%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(7) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 85.71429%;
          background-size: 200%; }
        .main_landing .block8 .content .reasons .block_reason:nth-child(8) > DIV:first-child {
          background: url("/thema/img/main_landing/icons.svg") 100% 100%;
          background-size: 200%; }
.main_landing .block9 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 815px; }
  .main_landing .block9 .content {
    position: relative;
    width: 1000px; }
    .main_landing .block9 .content .title {
      font-size: 39px;
      line-height: 45px;
      font-weight: bold; }
      .main_landing .block9 .content .title + DIV {
        margin-top: 50px; }
    .main_landing .block9 .content .structure_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .main_landing .block9 .content .structure_list .structure_block {
        width: 170px; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(1) {
          margin-bottom: 45px; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(2) {
          margin-bottom: 45px; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(3) {
          margin-bottom: 45px; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(4) {
          margin-bottom: 45px; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(5) {
          margin-bottom: 45px; }
        .main_landing .block9 .content .structure_list .structure_block .imageDiv {
          margin: 0 auto;
          margin-bottom: 12px;
          height: 112px;
          min-width: 112px;
          position: relative; }
        .main_landing .block9 .content .structure_list .structure_block .name {
          font-size: 17px;
          line-height: 20px;
          text-align: center; }
        .main_landing .block9 .content .structure_list .structure_block .hoverBlock {
          position: absolute;
          z-index: 1;
          height: 112px;
          width: 170px;
          background-color: transparent; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(1) .imageDiv {
          background: url("/thema/img/main_landing/icons/1_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(1) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/1.jpg") center top no-repeat, url("/thema/img/main_landing/icons/1_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(2) .imageDiv {
          background: url("/thema/img/main_landing/icons/2_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(2) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/2.jpg") center top no-repeat, url("/thema/img/main_landing/icons/2_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(3) .imageDiv {
          background: url("/thema/img/main_landing/icons/3_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(3) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/3.jpg") center top no-repeat, url("/thema/img/main_landing/icons/3_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(4) .imageDiv {
          background: url("/thema/img/main_landing/icons/4_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(4) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/4.jpg") center top no-repeat, url("/thema/img/main_landing/icons/4_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(5) .imageDiv {
          background: url("/thema/img/main_landing/icons/5_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(5) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/5.jpg") center top no-repeat, url("/thema/img/main_landing/icons/5_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(6) .imageDiv {
          background: url("/thema/img/main_landing/icons/6_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(6) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/6.jpg") center top no-repeat, url("/thema/img/main_landing/icons/6_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(7) .imageDiv {
          background: url("/thema/img/main_landing/icons/7_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(7) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/7.jpg") center top no-repeat, url("/thema/img/main_landing/icons/7_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(8) .imageDiv {
          background: url("/thema/img/main_landing/icons/8_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(8) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/8.jpg") center top no-repeat, url("/thema/img/main_landing/icons/8_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(9) .imageDiv {
          background: url("/thema/img/main_landing/icons/9_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(9) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/9.jpg") center top no-repeat, url("/thema/img/main_landing/icons/9_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(10) .imageDiv {
          background: url("/thema/img/main_landing/icons/10_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.5s ease;
          -moz-transition: background 0.5s ease;
          -o-transition: background 0.5s ease;
          transition: background 0.5s ease; }
        .main_landing .block9 .content .structure_list .structure_block:nth-child(10) .hoverBlock:hover + .imageDiv {
          background: url("/thema/img/main_landing/icons/10.jpg") center top no-repeat, url("/thema/img/main_landing/icons/10_gr.jpg") center top no-repeat;
          -webkit-transition: background 0.7s ease;
          -moz-transition: background 0.7s ease;
          -o-transition: background 0.7s ease;
          transition: background 0.7s ease; }
.main_landing .block10 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px; }
  .main_landing .block10 .content {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center; }
    .main_landing .block10 .content .logo {
      position: relative;
      width: 411px;
      height: 139px;
      background-image: url("/thema/img/main_landing/rosnok_logo.jpg"); }
    .main_landing .block10 .content .text {
      margin-left: 80px; }
      .main_landing .block10 .content .text .bold {
        font-size: 39px;
        line-height: 45px;
        font-weight: bold; }
        .main_landing .block10 .content .text .bold + DIV {
          margin-top: 20px; }
.main_landing #video_recall .modal_window,
.main_landing #video_recall iframe {
  width: 854px;
  height: 480px; }

/*# sourceMappingURL=main_landing.css.map */
