.operatorInboxDocs {
  margin-top: 10px;
  min-width: 1120px; }
  .operatorInboxDocs TABLE#operatorDocsFromClients {
    padding-top: 10px;
    border: none;
    width: 100%; }

.operatorEditSentDoc {
  max-width: 1000px; }
  .operatorEditSentDoc .row + .row {
    margin-top: 10px; }
  .operatorEditSentDoc .addressBlock {
    display: flex; }
    .operatorEditSentDoc .addressBlock > DIV {
      width: 50%; }
      .operatorEditSentDoc .addressBlock > DIV INPUT {
        width: 100%; }
      .operatorEditSentDoc .addressBlock > DIV + DIV {
        margin-left: 10px; }
  .operatorEditSentDoc .docNameBlock INPUT {
    width: 100%; }
  .operatorEditSentDoc .buttons {
    display: flex; }
    .operatorEditSentDoc .buttons BUTTON + BUTTON {
      margin-left: 10px; }

/*# sourceMappingURL=operator.css.map */
