.packagesMain > DIV + DIV {
  margin-top: 10px; }
.packagesMain .list {
  display: flex; }
  .packagesMain .list BUTTON + BUTTON {
    margin-left: 10px; }
.packagesMain .packagesBuy .inputPhone {
  display: flex; }
.packagesMain .packagesBuy .parentHello .parentBlock {
  display: flex; }
  .packagesMain .packagesBuy .parentHello .parentBlock IMG {
    width: 80px;
    height: 80px; }
.packagesMain .packagesBuy .parentHello .buttons {
  display: flex; }
  .packagesMain .packagesBuy .parentHello .buttons BUTTON + BUTTON {
    margin-left: 10px; }
.packagesMain .packagesBuy .choicePayType {
  display: flex; }
  .packagesMain .packagesBuy .choicePayType BUTTON + BUTTON {
    margin-left: 10px; }

/*# sourceMappingURL=packages.css.map */
