.passportEdit {
  width: 915px; }
  .passportEdit .pe_title {
    font-size: 24px;
    font-weight: bolder; }
    .passportEdit .pe_title + DIV {
      margin-top: 35px; }
    .passportEdit .pe_title > .em_title {
      font-weight: normal;
      font-size: 16px;
      margin-left: 40px;
      cursor: pointer; }
      .passportEdit .pe_title > .em_title > input {
        margin-right: 5px; }
  .passportEdit .block1 {
    display: flex;
    justify-content: space-between; }
    .passportEdit .block1 + .block1 {
      margin-top: 20px; }
    .passportEdit .block1 > DIV .block1_title + DIV {
      margin-top: 7px; }
    .passportEdit .block1 > DIV INPUT ~ INPUT {
      margin-left: 5px; }
    .passportEdit .block1 + .pe_title {
      margin-top: 40px; }
    .passportEdit .block1.scans .smallInput {
      width: 220px; }
    .passportEdit .block1 .full_block {
      width: 100%; }
      .passportEdit .block1 .full_block INPUT {
        width: 100%; }
    .passportEdit .block1.birthplace INPUT {
      width: 445px; }
    .passportEdit .block1.registration_address .republic,
    .passportEdit .block1.registration_address .city,
    .passportEdit .block1.registration_address .street, .passportEdit .block1.email_address .republic,
    .passportEdit .block1.email_address .city,
    .passportEdit .block1.email_address .street {
      width: 218px; }
    .passportEdit .block1.registration_address .house,
    .passportEdit .block1.registration_address .corps,
    .passportEdit .block1.registration_address .room, .passportEdit .block1.email_address .house,
    .passportEdit .block1.email_address .corps,
    .passportEdit .block1.email_address .room {
      width: 75px; }
    .passportEdit .block1.b3 {
      justify-content: flex-start; }
      .passportEdit .block1.b3 > DIV + DIV {
        margin-left: 25px; }
      .passportEdit .block1.b3 .serial_number INPUT:first-child {
        width: 82px; }
      .passportEdit .block1.b3 .serial_number INPUT:nth-child(2) {
        width: 96px; }
    .passportEdit .block1 .gender {
      height: 40px;
      display: flex;
      align-items: center; }
      .passportEdit .block1 .gender LABEL + LABEL {
        margin-left: 5px; }
      .passportEdit .block1 .gender LABEL INPUT {
        margin-left: 2px; }

/*# sourceMappingURL=passportEdit.css.map */
