.profileContainer > .row {
  display: flex;
  line-height: 40px; }
  .profileContainer > .row + .row {
    margin-top: 10px; }
  .profileContainer > .row > DIV:first-child {
    width: 125px; }
  .profileContainer > .row > DIV:nth-child(2) {
    margin-left: 10px; }

/*# sourceMappingURL=profile.css.map */
