.secretary_outbox_docs_block {
  background-color: white; }
  .secretary_outbox_docs_block > .sodb_filter {
    display: flex;
    justify-content: flex-start; }
    .secretary_outbox_docs_block > .sodb_filter > DIV > INPUT[type='text'] {
      width: 300px; }
    .secretary_outbox_docs_block > .sodb_filter > DIV:last-child {
      margin-left: 5px; }
    .secretary_outbox_docs_block > .sodb_filter + DIV {
      margin-top: 20px; }

.secretary_client_list .list_item {
  border-bottom: 2px solid ghostwhite;
  padding-top: 20px;
  padding-bottom: 20px; }
  .secretary_client_list .list_item:first-child {
    padding-top: 0; }
  .secretary_client_list .list_item > DIV .doc_list {
    width: 150px;
    text-align: center;
    margin-top: -5px; }
  .secretary_client_list .list_item .item_title {
    display: flex;
    font-size: 19px; }
    .secretary_client_list .list_item .item_title .name {
      font-weight: bolder;
      color: gray; }
    .secretary_client_list .list_item .item_title .id {
      margin-left: 5px; }
  .secretary_client_list .list_item .grid {
    display: flex;
    justify-content: flex-start;
    margin-top: 17px; }
    .secretary_client_list .list_item .grid > DIV {
      margin-left: 40px; }
      .secretary_client_list .list_item .grid > DIV:first-child {
        margin-left: 0; }
    .secretary_client_list .list_item .grid .grid_title {
      font-weight: bolder; }
.secretary_client_list .scl_filter {
  display: flex;
  justify-content: space-between; }
  .secretary_client_list .scl_filter .find {
    width: 290px; }
  .secretary_client_list .scl_filter .sort_block {
    display: flex;
    height: 30px;
    line-height: 30px; }
    .secretary_client_list .scl_filter .sort_block .message {
      font-weight: bolder; }
    .secretary_client_list .scl_filter .sort_block .sort_list > A {
      margin-left: 20px;
      color: #9A9A9A;
      line-height: 20px;
      display: inline-flex; }
      .secretary_client_list .scl_filter .sort_block .sort_list > A:hover {
        cursor: pointer; }
      .secretary_client_list .scl_filter .sort_block .sort_list > A.active {
        font-weight: bolder;
        border-bottom: 3px solid #01a3d4; }

.secretary_docs_add .form {
  display: flex;
  justify-content: space-between; }
  .secretary_docs_add .form > div > div {
    margin-top: 7px; }
    .secretary_docs_add .form > div > div:first-child {
      margin-top: 0;
      font-weight: bolder; }
  .secretary_docs_add .form > div > .doc_type_select_block > LABEL {
    margin-left: 10px; }
    .secretary_docs_add .form > div > .doc_type_select_block > LABEL:first-child {
      margin-left: 0; }
.secretary_docs_add .buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px; }
  .secretary_docs_add .buttons > BUTTON {
    margin-left: 5px; }
    .secretary_docs_add .buttons > BUTTON:first-child {
      margin-left: 0; }

/*# sourceMappingURL=secretary.css.map */
