@import "../variables.scss";

.agentClientAdd {
    .steps {
        display: flex;
        margin-bottom: 20px;
        cursor: default;

        > .step {
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;

            border: 2px solid rgb(218, 218, 218);
            border-radius: 3px;

            &.active {
                border: 2px solid #019ee1;
                background-color: rgb(248, 248, 248);
            }

            + DIV {
                margin-left: 10px;
            }
        }
    }

    .stepContainer {
        &.stepClientAdd {
            .clientInfoBlock {
                display: flex;
                padding: 20px 0;
                border-bottom: 1px solid #EAEAEA;

                .avatarBlock {
                    > IMG {
                        width: 100px;
                        height: 100px;
                    }

                    + .infoBlock {
                        margin-left: 15px;
                    }
                }

                .infoBlock {
                    position: relative;

                    > BUTTON {
                        &.madeUserClient {
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }
            }

            .clientSearchBlock {
                > .row {
                    &.horizontal {
                        > DIV:first-child {
                            margin-right: 10px;
                        }

                        > INPUT {
                            width: 150px;
                        }
                    }
                }

                > .phoneRestrictionsMessage {
                    display: inline-flex;
                    align-items: center;
                    padding: 0 20px;
                    height: 40px;
                    font-size: 15px;
                    background-color: #ebedec;
                    color: #b3b3b3;
                }
            }

            .createNewClientBlock {
                .fioBlock {
                    display: block;

                    > .row {
                        display: flex;

                        + .row{
                            margin-top: 10px;
                        }

                        > DIV {
                            line-height: 40px;

                            &:first-child {
                                width: 90px;
                            }

                            + DIV {
                                min-width: 150px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            .confirmClientSmsBlock {
                .inputSmsCodeBlock {
                    display: flex;
                    margin-top: 8px;
                }
            }

            #confirmClientPhoneModal {
                .row {
                    &.horizontal {
                        INPUT {
                            margin-right: 15px;
                        }
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        &.stepChoiceRate {
            .choiceServiceLive,
            .choiceSocialStatus {
                .choiceBlock {
                    margin-top: 8px;
                }

                LABEL {
                    + LABEL {
                        margin-left: 10px;
                    }
                }
            }

            #confirmAutoRateModal {
                .rateBlock {
                    display: flex;
                    justify-content: center;

                    > DIV {
                        border: 2px solid #019ee1;
                        padding: 10px 20px;
                        font-size: 24px;
                    }
                }
            }

            #choiceRateModal {
                .row {
                    &.rates {
                        display: flex;
                        justify-content: flex-start;

                        > LABEL {
                            width: 255px;
                            height: 40px;
                            line-height: 40px;
                            cursor: pointer;

                            font-size: 24px;

                            SPAN {
                                padding: 5px 10px;
                                padding-left: 2px;
                                margin-left: 3px;
                            }

                            &.active {
                                SPAN {
                                    outline: 2px solid #019ee1;
                                }
                            }

                            + LABEL {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        &.stepChoiceOffice {
            .officesContainer {
                + DIV {
                    margin-top: 10px;
                }

                .officeBlock {
                    + .officeBlock {
                        margin-top: 10px;
                    }

                    display: flex;

                    width: 500px;
                    height: 80px;
                    border: 1px solid gray;
                    padding: 10px;
                    background-color: white;

                    .avatar {
                        IMG {
                            width: 50px;
                            height: 50px;
                        }

                        + .info {
                            margin-left: 10px;
                        }
                    }

                    .info {
                        position: relative;
                        width: 100%;

                        BUTTON {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
        }

        &.stepFillPassport {
            .goNextStepBlock {
                margin-top: 10px;
            }
        }
    }
}

.agentInboxDocs {
    .docAddBlock {
        display: none;

        > .title {
            font-size: 30px;
            margin-top: 10px;

            + DIV {
                margin-top: 10px;
            }
        }

        > DIV {
            + DIV {
                margin-top: 10px;
            }

            SELECT[name='myClients'] {
                min-width: 250px;
            }

            TEXTAREA[name='notation'] {
                width: 100%;
                height: 100px;
            }
        }

        .buttons {
            display: flex;

            > BUTTON {
                + BUTTON {
                    margin-left: 5px;
                }
            }
        }
    }
}

.agent_client_list {
    margin-top: 6px;

    > .client_block {
        position: relative;
        padding: 20px;
        display: flex;
        background-color: white;
        border-bottom: 1px solid #F5F5F5;

        &.red {
            border-left: 5px solid #E31E24;
        }

        &.yellow {
            border-left: 5px solid #FECC00;
        }

        .avatar {
            IMG {
                width: 80px;
                height: 80px;
            }

            + .info {
                margin-left: 12px;
            }
        }

        .info {
            > DIV {
                display: flex;

                > DIV {
                    + DIV {
                        margin-left: 15px;
                    }
                }

                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }

        .buy_btn {
            position: absolute;
            right: 20px;
            bottom: 20px;

            > DIV {
                font-size: 14px;
                margin-bottom: 5px;
            }

            BUTTON {
                float: right;
            }
        }
    }
}

.agentDocsFromClients {
    margin-top: 10px;
    min-width: 1120px;

    TABLE#agentDocsFromClients {
        padding-top: 10px;
        border: none;
        width: 100%;

        TD {
            &.phone {
                > DIV {
                    text-align: center;
                    margin: 0 auto;

                    &:nth-child(2) {
                        margin-top: 10px;

                        > BUTTON {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

.agentDocsFromClientsAdd {
    > DIV {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}