@import "../variables.scss";

.articles_container {
    .center_container {
        width: 1000px;
        margin: 0 auto;
    }

    > .title {
        height: 100px;
        line-height: 100px;
        font-size: 38px;
        font-weight: bold;
        border-bottom: 1px solid #f3f3f3;

        A {
            color: #5B5B5B;
        }
    }

    .article_list {
        .article_element {
            padding: 20px 0;
            border-bottom: 1px solid #f3f3f3;

            .content {
                padding: 20px 0;
                display: flex;

                .img {

                    IMG {
                        width: 250px;
                        border: 1px solid #f3f3f3;
                    }

                    margin-right: 25px;
                }

                .text_block {
                    position: relative;
                    width: 100%;

                    .title {
                        font-size: 38px;
                        font-weight: bold;
                        line-height: 40px;

                        + .text {
                            margin-top: 15px;
                        }
                    }

                    .text {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-height: 140px;
                    }

                    .link {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .article_block {
        padding: 20px 0;

        .content {
            padding: 20px 0;

            .img {
                IMG {
                    min-width: 400px;
                    max-width: 450px;
                }

                float: left;
                border: 1px solid #f3f3f3;
                margin-right: 25px;

                z-index: 2;
                position: relative;
            }

            .text_block {
                position: relative;
                z-index: 1;

                .title {
                    font-size: 38px;
                    font-weight: bold;
                    line-height: 38px;

                    + .text {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

.adminMainArticles {
    .articlesList {
        .articleBlock {
            padding: 10px;
            background-color: white;

            + .articleBlock {
                margin-top: 10px;
            }

            .row {
                display: flex;
                line-height: 20px;

                > DIV {
                    &:first-child {
                        width: 100px;
                        min-width: 100px;
                    }

                    + DIV {
                        margin-left: 10px;
                    }
                }

                + .row,
                + .buttons {
                    margin-top: 10px;
                }

                &.small {
                    height: 100px;
                    overflow-y: scroll;
                }

                IMG {
                    width: 100px;
                    border: 1px solid lightgray;
                }
            }

            .buttons {
                display: flex;

                BUTTON {
                    + BUTTON {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .editArticleBlock {
        + .articleBlock {
            margin-top: 10px;
        }
    }

    .createArticleBlock,
    .editArticleBlock {
        padding: 10px;
        background-color: white;
        margin-bottom: 10px;

        .row {
            display: flex;
            line-height: 40px;

            &.full {
                > DIV {
                    &:nth-child(2) {
                        width: 100%;

                        INPUT,
                        TEXTAREA {
                            width: 100%;
                        }

                        TEXTAREA {
                            height: 300px;
                            resize: vertical;
                        }
                    }
                }
            }

            > DIV {
                &:first-child {
                    width: 100px;
                }

                + DIV {
                    margin-left: 10px;
                }
            }

            + .row,
            + .buttons {
                margin-top: 10px;
            }

            &.radio {
                LABEL {
                    display: block;

                    INPUT {
                        margin-right: 10px;
                    }
                }
            }
        }

        .buttons {
            display: flex;

            BUTTON {
                + BUTTON {
                    margin-left: 5px;
                }
            }
        }
    }
}