@import "../variables.scss";

.clientMain {
    position: relative;

    > DIV {
        + DIV {
            margin-top: 10px;
        }
    }

    .clientNameBlock {
        font-size: 18px;
    }

    .clientInfoBlock {
        display: flex;

        .avatar {
            IMG {
                width: 90px;
                height: 90px;
            }

            + .info {
                margin-left: 15px;
            }
        }

        TABLE.info {
            font-size: 16px;

            TR:first-child > TD {
                padding-top: -2px;
            }

            TD {
                padding: 1px 10px;
            }
        }
    }

    .mainDocsBlock {
        position: absolute;
        top: 0;
        left: 850px;
    }
}

.clientCredits {
    //width: $contentDefaultWidth;

    INPUT[type='checkbox'] {
        margin-right: 15px;
    }

    .consumerAddForm {
        display: none;

        .title {
            font-size: 22px;
        }

        INPUT {
            &.bank_name {
                width: 100%;
            }

            &.contract_number,
            &.date_contract,
            &.credit_sum,
            &.account_number,
            &.last_pay_sum,
            &.date_last_pay,
            &.date_credit_end,
            &.average_monthly_pay {
                width: 240px;
            }
        }

        SELECT {
            &.credit_commitments_name {
                width: 100%;
            }
        }

        TEXTAREA {
            &.notation {
                width: 100%;
                height: 100px;
            }
        }

        .row {
            margin-bottom: 10px;
        }

        .block1 {
            display:flex;
            justify-content: space-between;
        }

        .buttonsBlock {
            display: flex;

            BUTTON {
                margin-left: 10px;
            }
        }

        .tasksContainer {
            LABEL {
                display: block;

                + LABEL {
                    margin-top: 5px;
                }
            }
        }
    }

    .cardAddForm {
        display: none;

        .title {
            font-size: 22px;
        }

        INPUT {
            &.bank_name {
                width: 100%;
            }

            &.card_number,
            &.contract_number,
            &.date_contract,
            &.credit_sum,
            &.account_number,
            &.last_pay_sum,
            &.date_last_pay,
            &.date_credit_end,
            &.average_monthly_pay {
                width: 240px;
            }
        }

        SELECT {
            &.credit_commitments_name {
                width: 100%;
            }
        }

        TEXTAREA {
            &.notation {
                width: 100%;
                height: 100px;
            }
        }

        .row {
            margin-bottom: 10px;
        }

        .block1 {
            display:flex;
            justify-content: space-between;
        }

        .block2 {
            display:flex;
            justify-content: flex-start;

            > DIV {
                + DIV {
                    margin-left: 40px;
                }
            }
        }

        .buttonsBlock {
            display: flex;

            BUTTON {
                margin-left: 10px;
            }
        }

        .tasksContainer {
            LABEL {
                display: block;

                + LABEL {
                    margin-top: 5px;
                }
            }
        }
    }
}

.credit-block {
    width: $contentDefaultWidth;

    .credit-info {
        width: 100%;
        border-collapse: collapse;
        margin-top: 25px;

        th {
            color: #fff;
            background-color: #00a0e3;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }

        td {
            padding: 10px;
            border: 1px solid #d9dada;
        }

        .unknown {
            color: red;
            text-transform: uppercase;
        }
    }

    .row {
        margin-bottom: 10px;
    }

    .flex {
        display:flex;
        justify-content: space-between;
    }

    .full_width {
        width: 100% !important;
    }

    .credit-form {
        h3 {
            margin-bottom: 10px;
        }

        input[type="checkbox"] {
            margin-right: 15px;
        }

        input[type="text"] {
            width: 240px;
        }

        .credit-task label {
            display: block;
        }

        .credit-task label + label {
            margin-top: 5px;
        }

        .notation {
            width: 100%;
            height: 100px;
        }
    }

    .btn-block {
        display: flex;
        margin-top: 10px;

        input[type="submit"] + button {
            margin-left: 10px;
        }
    }
}