@import "../variables.scss";

.lawyerClientList {
    margin-top: 6px;

    > .clientBlock {
        position: relative;
        padding: 20px;
        display: flex;
        background-color: white;
        border-bottom: 1px solid #F5F5F5;

        &.red {
            border-left: 5px solid #E31E24;
        }

        &.yellow {
            border-left: 5px solid #FECC00;
        }

        .avatar {
            IMG {
                width: 80px;
                height: 80px;
            }

            + .info {
                margin-left: 12px;
            }
        }

        .info {
            > DIV {
                display: flex;

                > DIV {
                    + DIV {
                        margin-left: 15px;
                    }
                }

                &:first-child {
                    margin-bottom: 15px;
                }
            }
        }

        .buyBtn {
            position: absolute;
            right: 20px;
            bottom: 20px;

            > DIV {
                font-size: 14px;
                margin-bottom: 5px;
            }

            BUTTON {
                float: right;
            }
        }
    }
}

.lawyerSentDocsAddContainer {
    .docBlock {
        display: flex;

        > DIV {
            + DIV {
                margin-left: 10px;
            }

            &.clientSearchBlock {
                width: 500px;

                INPUT[type='text'] {
                    width: 100%;
                }

                > DIV {
                    + DIV {
                        margin-top: 10px;
                    }
                }
            }

            &.notationBlock {
                width: 100%;

                TEXTAREA {
                    width: 100%;
                    height: 200px;
                }
            }
        }

        + .buttons {
            margin-top: 10px;
        }
    }
}

#lawyerInboxDocs {
    padding-top: 10px;
    border: none;
    width: 100%;
}