@import "../variables.scss";
@import "../mixins.scss";

.main_landing {
    // FIXME костыль от jquery.maskedinput
    // При шрифте PT Sans маска растягивается, т.к. _ короче цифер
    INPUT {
        font-family: 'Arial';
    }

    .block1 {
        display: flex;
        justify-content: center;

        .content {
            height: 540px;
            width: 1000px;
            position: relative;

            .logo {
                position: absolute;
                top: 57px;

                height: 139px;
                width: 411px;

                background-image: url($imgPath + '/main_landing/rosnok_logo.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .text1 {
                position: absolute;
                top: 230px;
                left: 243px;

                font-size: 39px;
                line-height: 45px;
                font-weight: bold;
            }
        }
    }

    .block2 {
        display: flex;
        justify-content: center;

        background-image: url($imgPath + '/main_landing/back.svg');
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            height: 540px;
            width: 1000px;
            position: relative;

            .video {
                margin: 0 auto;

                margin-top: 65px;

                width: 696px;
                height: 358px;
                background: transparent url($imgPath + '/main_landing/notebook.png') center top no-repeat;

                IFRAME {
                    display: flex;

                    margin: 0 auto;
                    padding-top: 27px;

                    width: 448px;
                    height: 282px;
                }
            }

            .text_see_video {
                color: white;
                text-align: center;
                margin-top: 45px;
            }
        }
    }

    .block3 {
        display: flex;
        justify-content: center;
        height: 540px;

        .content {
            width: 1000px;
            display: flex;
            align-items: center;

            .clock {
                position: relative;
                width: 466px;
                height: 360px;

                %bgColor {
                    background-color: #da2127;
                }

                %position {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }

                .backImg {
                    @extend %position;
                    width: 466px;
                    height: 360px;
                    @include transform(translate(-50%, -49%));
                    background: transparent url($imgPath + '/main_landing/clock.jpg') center no-repeat;
                }

                .seconds {
                    @extend %position;
                    @include webPrefix(animation-name, clock);
                    @include webPrefix(animation-duration, 60s);
                    @include webPrefix(animation-iteration-count, infinite);
                    @include webPrefix(animation-timing-function, steps(60));

                    > div {
                        position: absolute;
                        width: 2px;
                        height: 113px;
                        @include transform(translate(-50%, -79px));
                        @extend %bgColor;
                    }
                }

                @keyframes clock {
                    100% {
                        @include transform(rotate(360deg));
                    }
                }

                .closerRed {
                    @extend %position;
                    @extend %bgColor;
                    width: 9px;
                    height: 9px;
                    @include transform(translate(-50%, -50%));
                    border-radius: 50%;
                }

                .closerWhite {
                    @extend %position;
                    width: 5px;
                    height: 5px;
                    @include transform(translate(-50%, -50%));
                    border-radius: 50%;
                    background-color: white;
                }
            }

            .text {
                margin-left: 18px;

                .bold {
                    font-size: 39px;
                    line-height: 45px;
                    font-weight: bold;

                    + .normal {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .block4 {
        display: flex;
        justify-content: center;
        background-color: #ececed;

        &.image_mod {
            background-image: url($imgPath + '/main_landing/back.svg');
            background-repeat: no-repeat;
            background-size: cover;

            color: white;

            input {
                color: rgb(91, 91, 91);
            }
        }

        .content {
            position: relative;
            width: 1000px;
            height: 540px;

            display: flex;
            align-items: center;

            .left {
                width: 500px;

                .bold {
                    font-size: 38px;
                    line-height: 45px;
                    font-weight: bold;

                    + DIV {
                        margin-top: 40px;
                    }
                }
            }

            .right {
                margin-left: 115px;
                width: 260px;

                INPUT,
                BUTTON {
                    width: 100%;
                }

                BUTTON {
                    font-size: 18px;
                    margin-top: 40px;
                }

                INPUT {
                    height: 35px;
                    line-height: 35px;
                }

                .input-block {
                    > DIV {
                        .input-title {
                            margin-bottom: 5px;
                        }

                        + DIV {
                            margin-top: 10px;
                        }
                    }
                }


            }
        }
    }

    .block5 {
        display: flex;
        justify-content: center;

        > .content {
            width: 1000px;
            padding: 70px 0;

            .bold {
                font-size: 39px;
                line-height: 45px;
                font-weight: bold;
            }

            .video_container {
                .title1 {
                    + DIV {
                        margin-top: 30px;
                    }
                }

                .video_list {
                    margin-top: 30px;

                    + DIV {
                        margin-top: 30px;
                    }

                    .video_block {
                        display: inline-block;
                        margin-right: 19px;
                        margin-top: 20px;

                        > img {
                            &.video_default_pic {
                                display: block;
                                cursor: pointer;
                                width: 177px;
                                height: 99px;
                                background-image: url($imgPath + '/main_landing/video_default.jpg');
                                background-size: contain;
                            }
                        }

                        IFRAME {
                            width: 177px;
                            height: 99px;

                            display: none;
                        }

                        FIGCAPTION {
                            max-width: 172px;
                            height: 39px;
                            text-overflow: ellipsis;
                            overflow: hidden;

                            > A {
                                text-decoration: none;
                                color: #676e7f;
                                font-size: 16px;
                                line-height: 20px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                + DIV {
                    margin-top: 75px;
                }
            }

            .reasons_container {
                .reasons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    margin-top: 45px;

                    .block_reason {
                        width: 250px;
                        min-height: 140px;

                        > DIV {
                            &:first-child {
                                width: 75px;
                                height: 50px;
                                margin-bottom: 13px;
                            }
                        }

                        @for $i from 1 through 8 {
                            &:nth-child(#{$i}){
                                > DIV {
                                    &:first-child {
                                        background: url($imgPath + "/main_landing/icons.svg") 0 #{((100%/7) * $i)- 100%/7};
                                        background-size: 200%;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .block6 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ececed;
        height: 540px;

        .content {
            position: relative;
            width: 1000px;

            .title {
                font-size: 39px;
                line-height: 45px;
                text-align: center;
                font-weight: bold;

                + DIV {
                    margin-top: 40px;
                }
            }

            .council_container {
                display: flex;
                justify-content: space-between;

                > .man_block {
                    min-width: 300px;
                    max-width: 333px;

                    .avatar,
                    .name,
                    .info {
                        text-align: center;
                    }

                    .avatar {
                        IMG {
                            width: 142px;
                            height: 142px;
                            border-radius: 50%;
                            background-size: cover;
                            display: inline;
                        }
                    }

                    .name {
                        font-size: 26px;
                        line-height: 26px;
                        margin-top: 15px;
                    }

                    .info {
                        font-size: 14px;
                        line-height: 16px;
                        margin-top: 20px;
                        letter-spacing: -0.55px;
                    }
                }
            }
        }
    }

    .block7 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 540px;

        background-image: url($imgPath + '/main_landing/back.svg');
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: bold;

        .content {
            position: relative;
            width: 1000px;

            .title {
                font-size: 39px;
                line-height: 45px;
                color: white;
                text-align: center;

                + DIV {
                    margin-top: 70px;
                }
            }

            .docs {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .block8 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 540px;

        .content {
            position: relative;
            width: 1000px;

            .title {
                font-size: 39px;
                line-height: 45px;
                font-weight: bold;

                + DIV {
                    margin-top: 30px;
                }
            }

            .reasons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                margin-top: 45px;

                .block_reason {
                    width: 250px;
                    min-height: 140px;

                    > DIV {
                        &:first-child {
                            width: 75px;
                            height: 50px;
                            margin-bottom: 13px;
                        }
                    }

                    @for $i from 1 through 8 {
                        &:nth-child(#{$i}){
                            > DIV {
                                &:first-child {
                                    background: url($imgPath + "/main_landing/icons.svg") 100% #{((100%/7) * $i)- 100%/7};
                                    background-size: 200%;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .block9 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 815px;

        .content {
            position: relative;
            width: 1000px;

            .title {
                font-size: 39px;
                line-height: 45px;
                font-weight: bold;

                + DIV {
                    margin-top: 50px;
                }
            }

            .structure_list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .structure_block {
                    width: 170px;

                    @for $j from 1 through 5 {
                        &:nth-child(#{$j}) {
                            margin-bottom: 45px;
                        }
                    }

                    .imageDiv{
                        margin: 0 auto;
                        margin-bottom: 12px;
                        height: 112px;
                        min-width: 112px;
                        position: relative;
                    }

                    .name {
                        font-size: 17px;
                        line-height: 20px;
                        text-align: center;
                    }

                    .hoverBlock {
                        position: absolute;
                        z-index: 1;
                        height: 112px;
                        width: 170px;
                        background-color: transparent;
                    }

                    // втыкаем иконки циклом
                    @for $j from 1 through 10 {
                        &:nth-child(#{$j}){
                            .imageDiv {
                                background: url($imgPath + "/main_landing/icons/#{$j}_gr.jpg") center top no-repeat;
                                @include transition(background 0.5s ease);
                            }

                            .hoverBlock:hover {
                                + .imageDiv {
                                    background: url($imgPath + "/main_landing/icons/#{$j}.jpg") center top no-repeat,
                                    url($imgPath + "/main_landing/icons/#{$j}_gr.jpg") center top no-repeat;
                                    @include transition(background 0.7s ease)
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .block10 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 540px;

        .content {
            position: relative;
            width: 1000px;

            display: flex;
            justify-content: center;

            .logo {
                position: relative;
                width: 411px;
                height: 139px;
                background-image: url($imgPath + '/main_landing/rosnok_logo.jpg');
            }

            .text {
                margin-left: 80px;

                .bold {
                    font-size: 39px;
                    line-height: 45px;
                    font-weight: bold;

                    + DIV {
                        margin-top: 20px;
                    }
                }

            }
        }
    }

    #video_recall {
       .modal_window,
        iframe {
            width: 854px;
            height: 480px;
        }
    }
}