@import "../variables.scss";


.operatorInboxDocs {
    margin-top: 10px;
    min-width: 1120px;

    TABLE#operatorDocsFromClients {
        padding-top: 10px;
        border: none;
        width: 100%;
    }
}

.operatorEditSentDoc {
    // TODO
    max-width: 1000px;

    .row {
        + .row {
            margin-top: 10px;
        }
    }

    .addressBlock {
        display: flex;

        > DIV {
            width: 50%;

            INPUT {
                width: 100%;
            }

            + DIV {
                margin-left: 10px;
            }
        }
    }

    .docNameBlock {
        INPUT {
            width: 100%;
        }
    }

    .buttons {
        display: flex;

        BUTTON {
            + BUTTON {
                margin-left: 10px;
            }
        }
    }
}