.packagesMain {
    > DIV {
        + DIV {
            margin-top: 10px;
        }
    }

    .list {
        display: flex;

        BUTTON {
            + BUTTON {
                margin-left: 10px;
            }
        }
    }

    .packagesBuy {
        .inputPhone {
            display: flex;
        }

        .parentHello {
            .parentBlock {
                display: flex;

                IMG {
                    width: 80px;
                    height: 80px;
                }
            }

            .buttons {
                display: flex;

                BUTTON {
                    + BUTTON {
                        margin-left: 10px;
                    }
                }
            }
        }

        .choicePayType {
            display: flex;

            BUTTON {
                + BUTTON {
                    margin-left: 10px;
                }
            }
        }
    }
}