.passportEdit {
    width: 915px;

    .pe_title {
        font-size: 24px;
        font-weight: bolder;

        + DIV {
            margin-top: 35px;
        }

        > .em_title {
            font-weight: normal;
            font-size: 16px;
            margin-left: 40px;
            cursor: pointer;

            > input {
                margin-right: 5px;
            }
        }
    }

    .block1 {
        display: flex;
        justify-content: space-between;

        + .block1 {
            margin-top: 20px;
        }

        > DIV {
            .block1_title {
                + DIV {
                    margin-top: 7px;
                }
            }

            INPUT {
                ~ INPUT {
                    margin-left: 5px;
                }
            }
        }

        + .pe_title {
            margin-top: 40px;
        }

        &.scans {
            .smallInput {
                width: 220px;
            }
        }

        .full_block {
            width: 100%;

            INPUT {
                width: 100%;
            }
        }

        &.birthplace {
            INPUT {
                width: 445px;
            }
        }

        &.registration_address,
        &.email_address {
            .republic,
            .city,
            .street {
                width: 218px;
            }

            .house,
            .corps,
            .room {
                width: 75px;
            }
        }

        &.b3 {
            justify-content: flex-start;

            > DIV {
                + DIV {
                    margin-left: 25px;
                }
            }

            .serial_number {
                INPUT {
                    &:first-child {
                        width: 82px;
                    }

                    &:nth-child(2) {
                        width: 96px;
                    }
                }
            }
        }

        .gender {
            height: 40px;
            display: flex;
            align-items: center;

            LABEL {
                + LABEL {
                    margin-left: 5px;
                }

                INPUT {
                    margin-left: 2px;
                }
            }
        }
    }
}
