.profileContainer {
    > .row {
        display: flex;
        line-height: 40px;

        + .row {
            margin-top: 10px;
        }

        > DIV {
            &:first-child {
                width: 125px;
            }

            &:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}