@import "../variables.scss";

.secretary_outbox_docs_block {
    background-color: white;

    > .sodb_filter {
        display: flex;
        justify-content: flex-start;

        > DIV {
            > INPUT[type='text'] {
                width: 300px;
            }

            &:last-child {
                margin-left: 5px;
            }
        }

        + DIV {
            margin-top: 20px;
        }
    }
}

.secretary_client_list {
    .list_item {
        border-bottom: 2px solid ghostwhite;
        padding-top: 20px;
        padding-bottom: 20px;

        &:first-child {
            padding-top: 0;
        }

        > DIV {
            .doc_list {
                width: 150px;
                text-align: center;
                margin-top: -5px;
            }
        }

        .item_title {
            display: flex;
            font-size: 19px;

            .name {
                font-weight: bolder;
                color: gray;
            }

            .id {
                margin-left: 5px;
            }
        }

        .grid {
            display: flex;
            justify-content: flex-start;
            margin-top: 17px;

            > DIV {
                margin-left: 40px;

                &:first-child {
                    margin-left: 0;
                }
            }

            .grid_title {
                font-weight: bolder;
            }
        }
    }

    .scl_filter {
        display: flex;
        justify-content: space-between;

        .find {
            width: 290px;
        }

        .sort_block {
            display: flex;
            height: 30px;
            line-height: 30px;

            .message {
                font-weight: bolder;
            }

            .sort_list {
                > A {
                    margin-left: 20px;
                    color: $textLightGray;
                    line-height: 20px;
                    display: inline-flex;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        font-weight: bolder;
                        border-bottom: 3px solid $blueLight;
                    }
                }
            }
        }
    }
}

.secretary_docs_add {
    .form {
        display: flex;
        justify-content: space-between;

        > div {
            > div {
                &:first-child {
                    margin-top: 0;
                    font-weight: bolder;
                }

                margin-top: 7px;
            }

            > .doc_type_select_block {
                > LABEL {
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;

        > BUTTON {
            margin-left: 5px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
