@charset "UTF-8";
/* ╨Т╨╕╨┤╤Л ╨║╨╜╨╛╨┐╨╛╨║*/
BUTTON.btn,
A.btn,
INPUT[type="submit"].btn {
  display: block;
  overflow: hidden;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  background-color: #c5c6c6;
  color: white;
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid #b3b3b3;
  white-space: nowrap; }
  BUTTON.btn:hover,
  A.btn:hover,
  INPUT[type="submit"].btn:hover {
    background-color: #aaa;
    border-bottom: 3px solid #8A8A8A; }
  BUTTON.btn.btn_middle,
  A.btn.btn_middle,
  INPUT[type="submit"].btn.btn_middle {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  BUTTON.btn.biz,
  A.btn.biz,
  INPUT[type="submit"].btn.biz {
    background-color: #019ee1;
    color: white;
    border-bottom: 3px solid #3782BF; }
    BUTTON.btn.biz:hover,
    A.btn.biz:hover,
    INPUT[type="submit"].btn.biz:hover {
      background-color: #0D86B9;
      border-bottom: 3px solid #2970A9; }
  BUTTON.btn.money,
  A.btn.money,
  INPUT[type="submit"].btn.money {
    background-color: #61b239;
    color: white;
    border-bottom: 3px solid #559735; }
    BUTTON.btn.money:hover,
    A.btn.money:hover,
    INPUT[type="submit"].btn.money:hover {
      background-color: #589A39;
      border-bottom: 3px solid #48802E; }

BUTTON.btn.btn_middle {
  line-height: 40px; }
BUTTON.clear {
  overflow: hidden;
  font-size: inherit;
  border: 0 solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 0; }

A.btn.btn_middle {
  line-height: 44px; }

/*# sourceMappingURL=buttons.css.map */
