HTML,
BODY {
  height: 100%; }

BODY {
  font-family: 'PT Sans', calibri, candara, sans-serif;
  font-size: 17px;
  line-height: normal;
  color: #5B5B5B;
  padding-bottom: 0 !important; }

UL, LI {
  margin: 0;
  padding: 0; }

LI {
  list-style-type: none; }

A {
  text-decoration: none;
  cursor: pointer; }

H1, H2, H3, H4, H5, H6 {
  font-weight: normal;
  line-height: normal;
  margin: 0; }

H1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 14px; }

H2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 12px; }

H3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px; }

H4 {
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 8px; }

INPUT[type='text'],
INPUT[type='search'],
SELECT {
  height: 40px;
  line-height: 40px;
  padding: 0 5px; }

INPUT[type='radio'] {
  vertical-align: middle;
  margin-right: 3px; }

INPUT[type='text'],
INPUT[type='search'],
SELECT,
TEXTAREA {
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

TEXTAREA {
  line-height: 20px;
  padding: 5px 8px; }

TABLE {
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%; }
  TABLE TH {
    text-align: left;
    padding: 10px; }
  TABLE TD {
    padding: 6px 10px;
    text-align: left;
    vertical-align: baseline; }
  TABLE TH, TABLE TD {
    line-height: 20px; }

A {
  color: #25B9EA; }
  A:hover {
    color: #1592BB; }

IMG {
  display: block; }

/*# sourceMappingURL=global.css.map */
