.header {
  display: flex;
  justify-content: center;
  height: 45px;
  box-shadow: 0 0 6px 1px rgba(90, 90, 90, 0.33);
  background-color: white; }
  .header > .center {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header > .center .menu {
      display: flex;
      line-height: 45px; }
      .header > .center .menu > A {
        font-size: 16px;
        color: gray;
        height: 45px;
        box-sizing: border-box; }
        .header > .center .menu > A + A {
          margin-left: 70px; }
        .header > .center .menu > A:hover {
          color: #0189ff; }
        .header > .center .menu > A.active {
          color: #0189ff;
          border-bottom: 3px solid #0189ff; }
    .header > .center .rightBlock {
      display: flex;
      justify-content: flex-end; }
      .header > .center .rightBlock > DIV {
        margin-right: 15px; }
        .header > .center .rightBlock > DIV:last-child {
          margin-right: 0; }
      .header > .center .rightBlock BUTTON {
        width: 75px;
        height: 32px;
        line-height: 30px; }

/*.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding-left: 18px;
    padding-right: 18px;
    height: 82px;
    box-shadow: 0 0 6px 1px rgba(90, 90, 90, 0.33);
    background-color: white;

    > DIV {
        display: flex;
        align-items: center;

        &.leftBlock {
            .logo {
                width: 115px;
                height: 44px;
                background-image: url($imgPath + '/rosnok_logo.png');
                cursor: pointer;
            }

            .sandwich {
                width: 44px;
                height: 44px;
                line-height: 44px;
                font-size: 42px;
                color: $blue;
                text-align: center;

                margin-right: 18px;
            }

            .main_menu {
                display: flex;
                justify-content: flex-start;
                margin-left: 15px;
                font-size: 18px;

                > A {
                    margin-left: 30px;
                    color: gray;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        &.rightBlock {
            display: flex;
            justify-content: flex-end;

            > DIV {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}*/

/*# sourceMappingURL=header.css.map */
