[class*='icon_'] {
  display: block;
  background-size: cover;
  background-repeat: no-repeat; }
  [class*='icon_'].pointer {
    cursor: pointer; }

.icon_auth_vk {
  width: 80px;
  height: 80px;
  background-image: url("../icon/auth_vk.png"); }

.icon_auth_pass {
  width: 80px;
  height: 80px;
  background-image: url("../icon/auth_pass.png"); }

.icon_glaz_blue {
  width: 15px;
  height: 15px;
  background-image: url("../icon/glaz_icon.png"); }

.icon_info_blue {
  width: 15px;
  height: 15px;
  background-image: url("../icon/info_icon.png"); }

.icon_pencil {
  width: 20px;
  height: 20px;
  background-image: url("../icon/pencil.png"); }

/*# sourceMappingURL=icons.css.map */
