.page {
  min-width: 1200px;
  height: 100%; }

.cabinet > .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #4B515C; }
  .cabinet > .sidebar .user_bar_overlay {
    display: none;
    position: fixed;
    left: 80px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    z-index: 20; }
  .cabinet > .sidebar > .top,
  .cabinet > .sidebar > .menu {
    width: 80px;
    font-size: 12px;
    color: #9da8ae;
    position: relative;
    z-index: 21; }
  .cabinet > .sidebar > .top {
    height: 100px;
    padding-top: 25px;
    box-sizing: border-box;
    position: relative;
    background-color: #3F454F; }
    .cabinet > .sidebar > .top .icon_wrapper {
      width: 100%;
      height: 100%;
      cursor: pointer; }
      .cabinet > .sidebar > .top .icon_wrapper > .icon {
        background-image: url("../icon/cabinet_menu/logo.png");
        width: 50px;
        height: 50px;
        margin: auto; }
    .cabinet > .sidebar > .top > .user_bar {
      position: absolute;
      top: 0;
      left: 80px;
      height: 100px;
      background-color: #3F454F;
      display: none;
      justify-content: flex-start; }
      .cabinet > .sidebar > .top > .user_bar .user_info {
        box-sizing: border-box;
        padding: 5px; }
        .cabinet > .sidebar > .top > .user_bar .user_info .name {
          margin-top: 30px;
          height: 30px;
          font-size: 18px;
          line-height: 20px;
          color: white;
          min-width: 250px; }
        .cabinet > .sidebar > .top > .user_bar .user_info .role {
          height: 30px;
          line-height: 30px;
          font-size: 15px;
          display: flex;
          justify-content: flex-start; }
          .cabinet > .sidebar > .top > .user_bar .user_info .role .role_wrapper {
            position: relative; }
            .cabinet > .sidebar > .top > .user_bar .user_info .role .role_wrapper .current_role {
              cursor: pointer; }
              .cabinet > .sidebar > .top > .user_bar .user_info .role .role_wrapper .current_role .icon {
                margin-left: 5px; }
            .cabinet > .sidebar > .top > .user_bar .user_info .role .role_wrapper #role_list {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              min-width: 225px; }
              .cabinet > .sidebar > .top > .user_bar .user_info .role .role_wrapper #role_list > DIV {
                padding: 0 10px;
                background-color: #262E3B;
                line-height: 30px;
                font-size: 15px;
                color: #B2B3B3;
                cursor: pointer; }
            .cabinet > .sidebar > .top > .user_bar .user_info .role .role_wrapper + DIV {
              margin-left: 15px; }
      .cabinet > .sidebar > .top > .user_bar .link {
        width: 72px;
        height: 100%;
        color: #B2B3B3; }
        .cabinet > .sidebar > .top > .user_bar .link.profile {
          background-color: #4F5661; }
          .cabinet > .sidebar > .top > .user_bar .link.profile > SPAN {
            background-image: url("../icon/cabinet_menu/profile_edit.png"); }
        .cabinet > .sidebar > .top > .user_bar .link.exit > SPAN {
          background-image: url("../icon/cabinet_menu/auth_exit.png"); }
        .cabinet > .sidebar > .top > .user_bar .link > SPAN {
          display: block;
          margin: 0 auto;
          margin-top: 35px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: cover; }
        .cabinet > .sidebar > .top > .user_bar .link > DIV {
          margin-top: 15px;
          font-size: 15px;
          text-align: center; }
  .cabinet > .sidebar > .menu {
    border-top: 1px solid #29303B; }
    .cabinet > .sidebar > .menu .level1 {
      min-height: 80px;
      margin-top: 5px; }
      .cabinet > .sidebar > .menu .level1 > A {
        width: 100%;
        display: block;
        color: inherit;
        padding: 6px;
        box-sizing: border-box; }
        .cabinet > .sidebar > .menu .level1 > A:hover {
          color: white; }
        .cabinet > .sidebar > .menu .level1 > A > .icon {
          width: 50px;
          height: 50px;
          margin: 0 auto;
          background-image: url("../icon/cabinet_menu/desktop.png");
          background-repeat: no-repeat; }
          .cabinet > .sidebar > .menu .level1 > A > .icon + .title {
            margin-top: 5px; }
          .cabinet > .sidebar > .menu .level1 > A > .icon.desktop {
            background-image: url("../icon/cabinet_menu/desktop.png"); }
          .cabinet > .sidebar > .menu .level1 > A > .icon.passport {
            background-image: url("../icon/cabinet_menu/passport.png"); }
          .cabinet > .sidebar > .menu .level1 > A > .icon.clients {
            background-image: url("../icon/cabinet_menu/clients.png"); }
        .cabinet > .sidebar > .menu .level1 > A > .title {
          text-align: center;
          font-size: 12px;
          line-height: 13px; }
      .cabinet > .sidebar > .menu .level1.active > A > .icon {
        background-image: url("../icon/cabinet_menu/desktop_active.png"); }
        .cabinet > .sidebar > .menu .level1.active > A > .icon.desktop {
          background-image: url("../icon/cabinet_menu/desktop_active.png"); }
        .cabinet > .sidebar > .menu .level1.active > A > .icon.passport {
          background-image: url("../icon/cabinet_menu/passport_active.png"); }
        .cabinet > .sidebar > .menu .level1.active > A > .icon.clients {
          background-image: url("../icon/cabinet_menu/clients_active.png"); }
.cabinet > .content_wrapper {
  position: absolute;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  min-width: 1120px;
  min-height: 100%;
  background-color: #F5F5F5; }
  .cabinet > .content_wrapper > .title {
    height: 100px;
    font-size: 24px;
    padding-left: 30px;
    border-bottom: 1px solid #D9DADA;
    display: flex;
    align-items: center;
    font-weight: bold; }
  .cabinet > .content_wrapper > .content {
    padding: 15px 25px; }

.TODO {
  opacity: 0.6;
  border: 1px solid #F2BCFF !important;
  color: #F2BCFF !important;
  background-color: #FFF5F6 !important; }

.row {
  margin-bottom: 10px; }
  .row:last-child {
    margin-bottom: 0; }
  .row.big {
    margin-bottom: 20px; }
  .row.horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .row > .column + .column {
    margin-left: 10px; }

.hide {
  display: none !important; }

A.maximumLink {
  display: block;
  height: 100%;
  width: 100%; }

.menu_horizontal {
  display: flex;
  line-height: 40px; }
  .menu_horizontal > A {
    height: 40px;
    color: inherit; }
    .menu_horizontal > A:focus {
      outline: none !important; }
    .menu_horizontal > A.active {
      border-bottom: 2px solid #008DD2; }
    .menu_horizontal > A + A {
      margin-left: 15px; }

.fixInputMask {
  font-family: 'Arial'; }

/*# sourceMappingURL=main.css.map */
