.modal_overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  z-index: 40; }
  .modal_overlay:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''; }
  .modal_overlay .modal_window {
    z-index: 41;
    display: inline-block;
    position: relative;
    background: #fff;
    text-align: left;
    vertical-align: middle;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    color: #5B5B5B;
    font-size: 18px;
    line-height: 20px;
    width: 625px; }
    .modal_overlay .modal_window .modal_header {
      height: 100px;
      line-height: 100px;
      font-size: 25px;
      padding-left: 20px;
      padding-right: 20px; }
    .modal_overlay .modal_window .modal_header.border_biz,
    .modal_overlay .modal_window .modal_main.border_biz {
      border-left: 10px solid #00a0e3; }
    .modal_overlay .modal_window .modal_header.border_money,
    .modal_overlay .modal_window .modal_main.border_money {
      border-left: 10px solid #559734; }
    .modal_overlay .modal_window .modal_header.border_soul,
    .modal_overlay .modal_window .modal_main.border_soul {
      border-left: 10px solid #782974; }
    .modal_overlay .modal_window .modal_header.border_dangerous,
    .modal_overlay .modal_window .modal_main.border_dangerous {
      border-left: 10px solid #e31e24; }
    .modal_overlay .modal_window .modal_header.border_orange,
    .modal_overlay .modal_window .modal_main.border_orange {
      border-left: 10px solid #FEC000; }
    .modal_overlay .modal_window .modal_body {
      margin: 0 30px 30px 30px;
      font-size: 18px; }
    .modal_overlay .modal_window .m_close {
      background: transparent;
      color: #A5A5A5;
      font-size: 32px;
      border: 0;
      float: right;
      width: 45px;
      height: 45px;
      line-height: 45px; }
      .modal_overlay .modal_window .m_close:hover, .modal_overlay .modal_window .m_close:focus {
        opacity: 0.6; }
    .modal_overlay .modal_window .modal_footer {
      display: flex;
      justify-content: flex-start;
      margin-top: 35px; }
      .modal_overlay .modal_window .modal_footer DIV ~ DIV,
      .modal_overlay .modal_window .modal_footer DIV ~ BUTTON,
      .modal_overlay .modal_window .modal_footer BUTTON ~ DIV,
      .modal_overlay .modal_window .modal_footer BUTTON ~ BUTTON {
        margin-left: 15px; }

#auth_method_modal .auth_method {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer; }
  #auth_method_modal .auth_method:hover {
    opacity: 0.95;
    background-color: whitesmoke; }
  #auth_method_modal .auth_method + DIV {
    margin-top: 25px; }
  #auth_method_modal .auth_method > A {
    margin-left: 35px; }
  #auth_method_modal .auth_method > DIV + DIV {
    margin-left: 35px; }
#auth_method_modal #auth_register {
  margin-top: 30px; }

#auth_password_modal .block_body + .block_body {
  margin-top: 20px; }
#auth_password_modal .block_body .block_title + DIV {
  margin-top: 7px; }
#auth_password_modal .block_body input[name='apm_country'], #auth_password_modal .block_body input[name='apm_password'] {
  width: 103px; }
#auth_password_modal .block_body input[name='apm_phone'] {
  width: 202px; }

#password_recovery_modal .block_body1 {
  margin-bottom: 25px; }
#password_recovery_modal .block_body + .block_body {
  margin-top: 12px; }
#password_recovery_modal .block_body .block_title + DIV {
  margin-top: 7px; }
#password_recovery_modal .block_body select[name='prm_country'] {
  width: 102px; }
#password_recovery_modal .block_body input[name='prm_captcha'] {
  width: 150px;
  margin-top: 12px; }

#auth_register_modal .block_body1 {
  margin-bottom: 25px; }
#auth_register_modal .block_body + .block_body {
  margin-top: 12px; }
#auth_register_modal .block_body .block_title + DIV {
  margin-top: 7px; }
#auth_register_modal .block_body input[name='arm_country'] {
  width: 102px; }
#auth_register_modal .block_body input[name='arm_captcha'] {
  width: 150px;
  margin-top: 12px; }
#auth_register_modal .block_body.sms_warning {
  font-size: 16px;
  color: darkgray; }
  #auth_register_modal .block_body.sms_warning + DIV {
    margin-top: 20px; }

#auth_phone_confirm_modal .block_body1 {
  margin-bottom: 25px; }
#auth_phone_confirm_modal .block_body .block_title + DIV {
  margin-top: 7px; }

/*# sourceMappingURL=modals.css.map */
