input[type='text'].jquery_validate_error {
  border: 1px solid red; }
input[type='text'].jquery_validate_ok {
  background-image: url("../icon/galka_green_border.png") !important;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain; }

.dataTables_filter {
  margin-bottom: 10px; }

/*# sourceMappingURL=plugin_extends.css.map */
