@charset "UTF-8";
TABLE {
  /* ╤А╨░╤Б╤Ж╨▓╨╡╤В╨║╨░ */
  /* ╨│╤А╨░╨╜╨╕╤Ж╤Л */ }
  TABLE TH.size_middle {
    min-width: 150px; }
  TABLE TH.size_big {
    min-width: 200px; }
  TABLE TH.text_center, TABLE TD.text_center {
    text-align: center; }
  TABLE TD.details-control {
    background: url("../icon/details_open.png") no-repeat center center;
    cursor: pointer;
    width: 10px; }
  TABLE TD.num > DIV {
    text-align: center;
    margin: 0 auto; }
    TABLE TD.num > DIV + DIV {
      margin-top: 4px; }
  TABLE TR.shown TD.details-control {
    background: url("../icon/details_close.png") no-repeat center center; }
  TABLE.biz, TABLE.gray {
    border-collapse: collapse !important;
    border-spacing: 0; }
    TABLE.biz TH, TABLE.biz TD, TABLE.gray TH, TABLE.gray TD {
      border: 2px solid #fafbfa; }
  TABLE.biz TR > TH {
    background-color: #00a0e3;
    color: white; }
  TABLE.biz TR > TD {
    background: white;
    color: #5B5B5B; }
  TABLE.gray TR > TH {
    background: #b2b4b3;
    color: white; }
  TABLE.gray TR > TD {
    background-color: white;
    color: #5B5B5B; }
  TABLE.border {
    border-collapse: collapse !important;
    border-spacing: 0; }
    TABLE.border TH, TABLE.border TD {
      border: 2px solid #fafbfa; }

/*# sourceMappingURL=tables.css.map */
